.layerDescription {
  overflow-y: auto;
  margin: 0.9375rem 1.5625rem;
  max-height: 80px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 2px #1d282f;
  font-size: 0.75em;
  font-family: NotesEsaBold;

  h1 {
    margin-top: 0;
    font-weight: bold;
    font-size: 1.4375em;
    font-family: NotesEsaBold;
    line-height: 1em;
  }

  h2 {
    margin-top: 1em;
    font-size: 1.125em;
    font-family: NotesEsaBold;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    font-family: NotesEsaBold;
  }

  p {
    margin: 0.625em 0;
  }
}

@media screen and (--mobile-viewport) {
  .layerDescription {
    position: absolute;
    top: 0;
    left: 0;
  }
}
