.dataViewer {
  --globe: 55vw;
  --category: calc(100vw - var(--globe));
  height: 100%;
  display: grid;
  place-items: center;
  grid-area: content;
  overflow: hidden;

  .globeWrapper {
    grid-area: 1 /1 /-1 /-1;
    transition: all 0.5s ease;
    z-index: 0;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-type: size;
  }

  /* see globe.module for globe base styles */
  /* The data-nav-content values are based on the current route of the application */
  &[data-nav-content="nav_content"] {
    .globe {
      transform: translateX(-55%);
    }
  }

  /* we animate the globe using scroll motions */
  &[data-nav-content="story-eei"] {
    .globe {
      transition: none;
    }
  }

  &[data-nav-content="stories"],
  &[data-nav-content="story-eei"] {
    .globe {
      margin-bottom: 0;
    }
  }

  &[data-nav-content="data"] {
    .globeWrapper:has(.globe ~ .globe) {
      display: flex;
      flex-direction: row;

      .globe {
        flex-basis: 50%;
      }
    }
  }

  grid-template-areas:
    "heading"
    "globe-nav-area"
    "explore";
  height: calc(100vh - var(--header-height));
  height: calc(100dvh - var(--header-height));
  grid-template-rows: 3.5rem calc(100vh - var(--header-height) - 10rem) 6.5rem;
  grid-template-rows: 3.5rem calc(100dvh - var(--header-height) - 10rem) 6.5rem;
  grid-template-columns: 1fr;

  @media screen and (--desktop-viewport) {
    grid-template-areas: "globe-nav-area splash-and-nav-area";
    grid-template-rows: 1fr;
    grid-template-columns: var(--globe) var(--category);

    &[data-nav-content="base"] {
      .globe {
        right: calc(var(--category) / 2);
      }
    }

    &[data-nav-content="data"] {
      grid-template-areas: "globe-nav-area";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      .globe {
        transform: translateX(0%);
      }
    }

    &[data-nav-content="nav_content"] {
      grid-template-areas: "globe content-nav";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0;

      .globe {
        transform: translateX(-40%);
      }
      .globeWrapper {
        z-index: 0;
      }

      .currentCategory {
        max-width: 40vw;
        word-break: break-word;
        /*Make sure z-index is higher than the globe*/
        place-self: center start;
        margin-left: clamp(36px, 2vw, 80px);
        z-index: 1;
        grid-area: globe;
        color: var(--Neutral-White, #fff);
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.48);

        /* We see some issues with the NotesEsaBold font in combination with the text-shadow property on tablet devices. We decided to not render a text-shadow for now */
        @media (hover: none) {
          text-shadow: none;

          > li.active {
            > span {
              text-shadow: none;
            }
          }
        }

        font-family: NotesEsa;
        font-size: 3.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4rem;

        @media screen and (--desktop-xxl-viewport) {
          font-size: 4.5rem;
          line-height: 5rem;
        }
      }

      .heading {
        place-self: start;
        grid-area: globe;

        @media screen and (--desktop-xxl-viewport) {
          a {
            font-size: 1.25rem;
            line-height: 1.25em;
          }
        }
      }

      .contentNav {
        grid-area: content-nav;
      }
    }
  }
}



.heading {
  padding: 0 1.5rem;
  box-sizing: border-box;
  z-index: 3;
  width: 100%;
  opacity: 1;
  /* animation: headerAnimation 1s ease-out forwards; */
  animation-delay: 0.7s;
  grid-area: heading;
  color: white;
  display: flex;
  justify-content: center;

  @media screen and (--desktop-viewport) {
    grid-area: title;
    padding: 0;
    justify-content: start;
    font-family: NotesEsa;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 114.286% */
  }

  > h2 {
    margin: 0 auto;
  }
}

/* @keyframes headerAnimation { */
/*   0% { */
/*     transform: translateY(-10px); */
/*     opacity: 0.2; */
/*   } */
/**/
/*   100% { */
/*     transform: translateY(0); */
/*     opacity: 1; */
/*   } */
/* } */
