.dataViewer {
  height: 100%;
  display: grid;
  place-items: center;
  grid-area: content;
  grid-template-areas:
    'heading'
    'globe-nav-area'
    'explore';
  grid-template-rows: 3.5rem 1fr 6.5rem;
  grid-template-columns: 1fr;
}

.globeWrapper {
  grid-area: globe-nav-area;
  transition: all 0.5s ease;
  z-index: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;

  &.showContentList {
    transform: translateX(-68%);
    transition-delay: 0.5s;
  }
}

.swipeIndicator {
  margin-top: 1rem;
  place-self: start center;
  grid-area: explore;
  position: relative;
  height: 24px;
  width: 24px;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.175 2.49999C12.543 2.49999 12.8927 2.56859 13.2241 2.70577C13.5555 2.84295 13.8532 3.04359 14.1173 3.30769L19.1308 8.32692L18.5154 8.94807C18.3064 9.15062 18.0645 9.28491 17.7895 9.35094C17.5145 9.41696 17.2404 9.41279 16.9674 9.33844L14.75 8.75764L14.75 17C14.75 17.2125 14.6781 17.3906 14.5343 17.5343C14.3905 17.6781 14.2123 17.7499 13.9997 17.7499C13.7871 17.7499 13.609 17.6781 13.4654 17.5343C13.3218 17.3906 13.2501 17.2125 13.2501 17L13.2501 6.76154L16.2809 7.59042L13.0481 4.36729C12.9391 4.25831 12.8075 4.16984 12.6533 4.10189C12.499 4.03394 12.3396 3.99997 12.175 3.99997L8.25005 3.99997C7.62312 3.99997 7.09138 4.21824 6.65485 4.65479C6.2183 5.09133 6.00002 5.62306 6.00002 6.24999L6.00002 10.25C6.00002 10.4625 5.92811 10.6406 5.7843 10.7843C5.6405 10.9281 5.4623 11 5.2497 11C5.03712 11 4.85903 10.9281 4.71545 10.7843C4.57185 10.6406 4.50005 10.4625 4.50005 10.25L4.50005 6.24999C4.50005 5.21409 4.86608 4.33012 5.59813 3.59807C6.33018 2.86602 7.21352 2.49999 8.24815 2.49999L12.175 2.49999ZM11.8365 9.25L11.8365 13.25C11.8365 13.4628 11.7646 13.641 11.6208 13.7846C11.477 13.9282 11.2988 14 11.0862 14C10.8736 14 10.6956 13.9281 10.552 13.7843C10.4084 13.6406 10.3366 13.4625 10.3366 13.25L10.3366 9.25L11.8365 9.25ZM8.91348 9.25L8.91348 12.25C8.91348 12.4628 8.84157 12.641 8.69777 12.7846C8.55396 12.9282 8.37575 13 8.16315 13C7.95057 13 7.77248 12.9281 7.6289 12.7843C7.48532 12.6406 7.41352 12.4625 7.41352 12.25L7.41352 9.24999L8.91348 9.25ZM2.50005 16.8076L7.19235 16.8076L7.19235 17.9999L4.10002 17.9999C5.21926 18.9474 6.44907 19.6955 7.78945 20.2442C9.12983 20.7929 10.5334 21.0672 12 21.0672C13.4667 21.0672 14.8702 20.7929 16.2106 20.2442C17.551 19.6955 18.7808 18.9474 19.9 17.9999L16.8077 17.9999L16.8077 16.8076L21.5 16.8076L21.5 21.4999L20.3077 21.4999L20.3077 19.2345C19.1141 20.1794 17.8132 20.9198 16.4048 21.4557C14.9965 21.9916 13.5282 22.2595 12 22.2595C10.4718 22.2595 9.00356 21.9916 7.59522 21.4557C6.18689 20.9198 4.88593 20.1794 3.69235 19.2345L3.69235 21.4999L2.50005 21.4999L2.50005 16.8076Z" fill="%233F6C7D" /></svg>');
  animation: fadeIn 2s ease-out forwards;
  animation-delay: 0.7s;
  opacity: 0;

  &:after {
    bottom: -2rem;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    position: absolute;
    content: attr(data-content);
    color: var(--Supporting-Colours-Deep-Space-1, #3f6c7d);
    font-family: NotesEsa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  75% {
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100px);
    opacity: 1;
  }
}

.backArrow {
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><g filter="url(%23filter0_d_240_25701)"><path d="M20 11H7.83L13.42 5.41L12 4L4 12L12 20L13.41 18.59L7.83 13H20V11Z" fill="white"/></g><defs><filter id="filter0_d_240_25701" x="-1" y="0" width="26" height="26" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="1"/><feGaussianBlur stdDeviation="0.5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.45 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_25701"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_25701" result="shape"/></filter></defs></svg>');
  display: block;
  justify-self: start;
}

.exploreButton {
  grid-area: explore;
  padding: 12px 24px;
  border-radius: 40px;
  background: #3f6c7d;
  box-shadow: 0px 0px 12px 0px rgba(0, 51, 73, 0.25);
  background-repeat: no-repeat;
  transform: translateY(100px);
  animation: slideUp 0.5s ease-out forwards;

  animation-delay: 2.5s;

  &.showFast {
    animation-delay: 0.5s;
  }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.heading {
  padding: 0 1.5rem;
  box-sizing: border-box;
  z-index: 3;
  width: 100%;
  opacity: 0;
  animation: headerAnimation 1s ease-out forwards;
  animation-delay: 0.7s;
  grid-area: heading;
  color: white;
  display: flex;
  justify-content: start;
  > h2 {
    margin: 0 auto;
  }
}

@keyframes headerAnimation {
  0% {
    transform: translateY(-10px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
