@require '../../../variables.styl'

.layerInfo
  display: flex
  flex-direction: column
  justify-content: center
  font-family: NotesEsa

.layerType
  color: $textAzure
  text-transform: uppercase
  font-weight: bold
  font-size: emCalc(11px)

.layerTitle
  display: flex
  justify-content: space-between
  color: $textWhite

.description
  margin: emCalc(10px) 0
  color: $textDefault
  font-family: Arial, Helvetica, sans-serif

.link
  margin: 1em 0
  color: $textAzure
  text-decoration: none
  text-transform: uppercase
  font-size: emCalc(11px)
