@require '../../../../../../variables.styl'

.intro
  height: 100%
  text-align: left
  display: flex
  flex-direction: column
  justify-content: center
  opacity: 0
  transition: opacity 0.2s ease-in

.intro.visible
  opacity: 1

.backToStories
  margin-top: emCalc(29px)
  align-self: flex-start

.introContent
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  flex: 1

.subTitle
  background: $darkTeal
  color: $textWhite
  font-size: emCalc(12px)
  font-style: normal
  font-weight: 700
  line-height: normal
  letter-spacing: 0.36px
  text-transform: uppercase
  width: fit-content
  padding: 6px
  display: flex
  align-items: flex-start
  gap: 10px

.title
  color: $textWhite
  font-size: 48px
  font-style: normal
  font-weight: 700
  line-height: 50px
  margin: 0
