@require '../../../../../../variables.styl'

.intro
  height: 100%
  width: 100%
  text-align: left
  display: flex
  flex-direction: column
  justify-content: center

  a
    top: 0
    margin-left: 0

.introBackButton
  left: 0
  top: 0
  position: absolute
  z-index: 1

.introContent
  opacity: 0
  transition: opacity 0.03s ease-in

.intro.visible
  .introBackButton, .introContent
    opacity: 1
    transition-duration: 0.2s

.introContent
  opacity: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  flex: 1
  transition: opacity 0.03s ease-in

.intro.visible
  .introContent
    opacity: 1
    transition-duration: 0.2s

.subTitle
  background: $darkTeal
  color: $textWhite
  font-size: emCalc(12px)
  font-style: normal
  font-weight: 700
  line-height: normal
  letter-spacing: 0.36px
  text-transform: uppercase
  width: fit-content
  padding: 6px
  display: flex
  align-items: flex-start
  gap: 10px

.title
  color: $textWhite
  font-size: emCalc(48px)
  font-style: normal
  font-weight: 700
  line-height: 50px
  margin: 0

@media screen and (min-width: 768px)
  .introContent
    align-self: flex-end
    max-width: 40vw
    padding: emCalc(24px)

  .title
    font-size: emCalc(78px)
    line-height: 80px
