@require '../../../../../../variables.styl'

.snapWrapper
  position: relative
  height: 100vh
  width: 100vw
  box-sizing: border-box
  padding: emCalc(110px) emCalc(29px)
  overflow-x: hidden
  display: flex
  flex-direction: column
  justify-content: center
  scroll-snap-align: center

@media screen and (min-width: 768px)
  .snapWrapper
    padding: $headerHeight emCalc(80px)
