@require '../../../../../../variables.styl'

.snapWrapper
  height: calc(100svh - 75px)
  width: 100vw
  box-sizing: border-box
  padding: emCalc(29px) emCalc(29px) emCalc(90px)
  overflow-x: hidden
  display: flex
  flex-direction: column
  justify-content: center
  scroll-snap-align: center

@media screen and (min-width: 768px)
  .snapWrapper
    padding: emCalc(25px) emCalc(80px) emCalc(80px)
