@require '../../../../../../variables.styl'

.snapWrapper
  height: 100vh
  box-sizing: border-box
  padding: $headerHeight emCalc(29px)
  overflow-x: hidden
  display: flex
  flex-direction: column
  justify-content: center
  scroll-snap-align: center
