.layerLegend {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 1.375em;
  z-index: 2;
  display: flex;
  flex-direction: row;
  height: 40%;
  color: #fff;
  transform: translateY(-50%);
  user-select: none;
}
.rightSided {
  right: 1.375em;
  left: auto;
  flex-direction: row-reverse;
}
.rightSided .values {
  padding-right: 0.571428571428571em;
  padding-left: 0;
  text-align: right;
}
.image {
  width: 8px;
  height: 100%;
  border-radius: 5px;
}
.values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.571428571428571em;
  text-shadow: 0px 0px 2px #000;
  font-size: 14px;
  font-family: 'NotesESA', 'Arial', sans-serif;
}
.legendItem {
  display: flex;
  width: 100%;
  height: 100%;
}
.rightSided .legendItem {
  flex-direction: row-reverse;
}
