
.vjsContainer
  width: 100%
  height: 100%

@media screen and (min-width: 480px)
  :global(.vjs_video_3-dimensions.vjs-fluid)
    padding-top: 0 !important

:global(.vjs-text-track-cue)
  display: flex
  justify-content: center
  align-items: flex-end

:global(.vjs-text-track-cue > div)
  font-weight: 700
  font-style: normal
  font-size: 18px
  font-family: Arial
  line-height: 22px

@media screen and (max-width: 480px)
  :global(.vjs-text-track-cue > div)
    font-weight: 700
    font-style: normal
    font-size: 12px
    font-family: Arial
    line-height: 22px
