.sequenceContainer {
  height: 100%;
  inset: 0;
  opacity: var(--sequence-opacity);
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 100%;

  .scrollImageSequence {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (--mobile-viewport) {
  .sequenceContainer {
    aspect-ratio: 9/16;
    justify-self: center;
    overflow: hidden;

    .scrollImageSequence {
      height: 100%;
      width: 100%;
    }
  }
}
