@require '../../../variables.styl'

.storyTitle
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 60%
  font-family: NotesEsa

.title
  color: $main
  font-weight: bold
  font-size: emCalc(36px)

.description
  margin: 0
  color: $textDefault
  font-weight: normal
  font-size: emCalc(36px)
  font-family: Arial, Helvetica, sans-serif
