.layerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6875em 2em;
  color: var(--text-default);

  &:hover,
  &:focus,
  &:focus-within {
    background-color: rgba(48, 64, 77, 0.5);

    .layerTitle {
      display: block;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .compare {
      display: block;
      color: var(--main);
    }
  }
}

.compare {
  display: none;
  border: none;
  background: none;
  color: var(--text-default);
  text-transform: uppercase;
  font-size: 0.6875em;
  cursor: pointer;
}

.layerTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (--mobile-viewport) {
  .compare {
    display: flex;
  }

  .layerTitle {
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
