.layerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6875em 2em;
  color: #939597;
}
.layerItem:hover,
.layerItem:focus {
  background-color: rgba(48,64,77,0.5);
}
.layerItem:hover .layerTitle,
.layerItem:focus .layerTitle {
  display: block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.layerItem:hover .compare,
.layerItem:focus .compare {
  display: block;
}
.compare {
  display: none;
  border: none;
  background: none;
  color: #939597;
  text-transform: uppercase;
  font-size: 0.6875em;
  cursor: pointer;
}
.compare:hover,
.compare:focus {
  color: #00ae9d;
}
.layerTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .compare {
    display: flex;
  }
  .layerTitle {
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
