.storyFooter {
  display: flex;
  align-items: center;
  height: 4.5em;
  height: 4.5em;
  background-color: #182026;
  transition: transform 0.6s ease-in-out;
  transform: translateY(0%);
}
.slideOutFooter {
  transform: translateY(100%);
}
