@require '../../../variables.styl'

.aboutProject
  display: flex
  flex-direction: column
  justify-content: center
  width: 50%
  font-family: NotesEsa

.title
  display: flex
  justify-content: space-between
  color: $textWhite

.description
  color: $textWhite
