@font-face {
  font-style: normal;
  font-family: NotesEsa;
  src: url("../../../../../assets/fonts/NotesEsaReg.otf");
}

@font-face {
  font-style: normal;
  font-family: NotesEsaBold;
  src: url("../../../../../assets/fonts/NotesEsaBol.otf");
}

body {
  overflow: hidden;
  /* scroll-snap-type: x mandatory; */
}

html,
body,
#app {
  margin: 0;
  height: 100%;
  background-color: var(--black);
  font-family: NotesEsa, Arial, Helvetica, sans-serif;
}

#app {
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: 100vw;
  background: rgba(0, 51, 73, 0.4);
}

* {
  scrollbar-color: var(--dark-grey-1) transparent;
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--dark-grey-1);
  -webkit-box-shadow: inset 0 0 6px rgba(16, 22, 26, 0.9);
}
