/* Use Grid to generate header and content area */
:global(#app) {
  display: grid;
  grid-template-areas:
    'header'
    'content';
  grid-template-rows: 3.5rem 1fr;
  grid-template-columns: 1fr;
  background: rgba(0, 51, 73, 0.4);
}
