@require '../../../variables.styl'

.storyFooter
  display: flex
  align-items: center
  height: emCalc(72px)
  height: $footerHeight
  background-color: $darkGrey1
  transition: transform 0.6s ease-in-out
  transform: translateY(0%)

.slideOutFooter
  transform: translateY(100%)
