@require '../../../variables.styl'

.downloadButton
  width: emCalc(20px)
  height: emCalc(20px)

  button, svg
    width: 100%
    height: 100%

.complete svg
  fill: $main

.notDownloaded svg
  fill: $textDefault

.circle
  color: red
  transform: rotate(-90deg)
  fill: none
  stroke-width: 4px
  stroke: $main
  stroke-dasharray: 100

  circle
    transition: 0.5s all linear

.delete
  .trash
    display: none

  .complete
    display: block

  &:hover
    .trash
      display: block

    .complete
      display: none
