.progressIndication
    --gap: 24px
    --indicator-y-offset: 0
    --test:0 
    position: relative
    height: fit-content
    display: flex
    flex-direction: column
    gap: var(--gap)




    &[data-is-title-in-view='false']:after
      content: ''
      position: absolute
      right: 50%
      top: var(--indicator-y-offset)
      transform: translate(50%, 50%)
      width: 10px
      height: 10px
      border-radius: 50%
      background-color: white
      transform-origin: center

    &[data-is-title-in-view='true']
      > span[data-is-selected='true']:before
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><circle cx='12' cy='12' r='5.5' fill='white' stroke='white'/><circle cx='12' cy='12' r='8.5' stroke='white'/></svg>")


    span
      width: 24px
      height: 24px
      position: relative

      &:before
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><circle cx='12' cy='12' r='8.5'    stroke='white'/></svg>")

      &:not(:last-child):after
        position: absolute
        content: ''
        z-index -1
        width: 0
        top: 20px
        height:calc(var(--gap) + 8px)
        left: 50%
        transform: translate(-50%)
        border-right: 1px solid white
        position: absolute
        background-color: white