@require '../../../../variables.styl'

.selectedLayerListItem
  display: flex
  justify-content: space-between
  align-items: center
  padding: emCalc(11px) emCalc(32px)
  background-color: $darkGrey4

.layer
  display: flex
  align-items: center

.layerTitle
  color: $textColor
  font-weight: bold

.layerIcon
  margin-right: emCalc(16px)
  width: emCalc(24px)
  height: emCalc(24px)

.removeIcon
  display: flex
  padding: 0
  border: none
  background: none
  cursor: pointer
  fill: $textDefault
