.kettleRow {
  --grid-row-start: 1;
  --grid-column-start: 1;
  grid-row: var(--grid-row-start) / calc(var(--grid-row-start) + 1);
  grid-column: var(--grid-column-start) / -1;
  height: 100%;
  width: 100%;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left;
  background-image: var(--kettle-icon);

  &:nth-child(4) {
    mask-image: linear-gradient(
      90deg,
      #000 0,
      #000 calc(50% - 5%),
      rgba(0, 0, 0, 0) calc(50% - 5%),
      rgba(0, 0, 0, 0) calc(50% + 5%),
      #000 calc(50% + 5%),
      #000 100%
    );
  }
}
