/node_modules
/dist
/dist-electron
/dist-src-electron
.vscode
/storage/**/*.zip
/storage/basemaps
/download
*.ipynb
.DS_Store
assets/legend-images/

pipeline/logs
pipeline/workdir
pipeline/*/__pycache__
service-account.json