.contentNav {
  --font-color: rgba(0, 179, 152, 1);
  --primary-color: var(--main);
  --secondary-color: var(--dark-blue);
  --background-color: var(--dark-grey-5);
  grid-area: globe-nav-area;
  width: 100%;
  height: 100%;
  position: relative;
  touch-action: none;
  user-select: none;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  padding: 0;
  color: white;
  margin: auto 0;
  opacity: 0;

  &.show {
    animation: showFromCenter 1.5s ease-out 0.5s forwards;
  }

  >span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg xmlns="http://www.w3.org/2000/svg" viewBox="52.7278 148.217 394.5443 203.566" width="394.544px" height="203.566px"><path d="M 52.731 250.953 C 52.548 240.257 60.137 230.928 70.827 228.709 L 323.354 174.568 L 323.088 187.783 L 323.363 174.531 L 447.272 148.217 L 446.323 351.783 L 320.239 325.472 L 320.247 325.04 L 71.602 272.572 C 60.83 270.726 52.914 261.659 52.731 250.953 Z" fill="%23003349" fill-opacity="0.5" style="" transform="matrix(1, 0, 0, 1, 0, 2.2737367544323206e-13)"/></svg>');
    background-repeat: no-repeat;
    content: "";
    width: 100%;
    height: 203px;

    @media screen and (--desktop-viewport) {
      width: 785px;
      height: 203px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="785" height="206" viewBox="0 0 785 206" fill="none"><path d="M0 102.739C0 87.2037 11.8097 74.2145 27.2745 72.7401L785 0.5V206L27.2344 132.733C11.7869 131.24 0 118.258 0 102.739Z" fill="%23003349" fill-opacity="0.5"/></svg>');
    }

    @media screen and (--desktop-xxl-viewport) {
      height: 203px;
      width: 2000px;
      background-image: url('data:image/svg+xml,<svg width="2000" height="206" viewBox="0 0 2000 206" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 102.227C0 86.9391 12.0902 74.388 27.3679 73.8163L2000 0V205.5L27.3528 130.638C12.0813 130.059 0 117.51 0 102.227Z" fill="%23003349" fill-opacity="0.5"/><defs><linearGradient id="paint0_linear_1911_13513" x1="0" y1="102.75" x2="2000" y2="102.75" gradientUnits="userSpaceOnUse"><stop stop-color="%23003349" stop-opacity="0.5"/><stop offset="0.797771" stop-color="%23003349" stop-opacity="0.4"/><stop offset="0.9" stop-color="%23003349" stop-opacity="0"/></linearGradient></defs></svg>');
    }
  }

  /* Focus styles for keyboard navigation */
  .contentNavItem:focus-visible {
    outline: 2px solid white;
    outline-offset: 4px;
    z-index: 10;
  }

  >li {
    z-index: 2;
    padding-right: 1rem;
    color: var(--font-color);
    position: absolute;
    transition: all 0.3s ease-out;
    transform-origin: 0 0;
    display: flex;
    align-items: center;
    transform: translate(0, -50%);
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: 400;
    width: 100%;

    @media screen and (--desktop-xxl-viewport) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    >a {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      >div {
        display: flex;

        >span {
          color: var(--dark-blue);
          max-width: 50vw;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin-right: 1rem;
        }
      }

      >span.learnMore {
        transition: all 0.3s ease-out;
        transform-origin: right;
        position: relative;
        opacity: 0;
        text-transform: uppercase;
        color: var(--dark-blue) !important;
        line-height: 1rem;
        font-size: 1rem;
        border-radius: 40px;
        border: 2px solid var(--dark-blue);
        padding: 12px;
        padding-right: 2.5rem;
        margin-right: 1.5rem;

        @media screen and (--desktop-xxl-viewport) {
          line-height: 1.375rem;
          font-size: 1.375rem;
          margin-right: 3rem;
        }

        &:after {
          background-color: var(--dark-blue) !important;
          content: "";
          height: 24px;
          width: 24px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
          mask: var(--arrow-right);
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: right;
        }

        &:hover {
          transition: none;
          border-color: white;
          color: white !important;

          &:after {
            background-color: white !important;
          }
        }
      }
    }

    &:before {
      flex-shrink: 0;
      content: "";
      width: 24px;
      height: 24px;
      margin-right: 1rem;
      scale: 0.75;
      background: var(--secondary-color);
    }

    &.active {
      >a>div>span {
        color: var(--primary-color) !important;
        white-space: normal;
        padding-right: 1rem;
      }

      >a>span.learnMore {
        opacity: 1;
      }
    }

    &.active:before {
      background: var(--primary-color);
    }

    &[data-content-type="image"]:before {
      mask-image: var(--icon-image);
    }

    &[data-content-type="video"]:before {
      mask-image: var(--icon-video);
    }

    &[data-content-type="layer"]:before {
      mask-image: var(--icon-layer);
    }

    &[data-content-type="blog"]:before {
      mask-image: var(--icon-blog);
    }
  }
}

@keyframes showFromCenter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
