.contentNav {
  --font-color: rgba(0, 179, 152, 1);
  --primary-color: var(--main);
  --secondary-color: var(--dark-blue);
  --background-color: var(--dark-grey-5);
  grid-area: globe-nav-area;
  width: 100%;
  height: 100%;
  position: relative;
  touch-action: none;
  user-select: none;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  padding: 0;
  color: white;
  margin: auto 0;
  opacity: 0;

  &.show {
    animation: showFromCenter 1.5s ease-out 0.5s forwards;
  }

  >span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg xmlns="http://www.w3.org/2000/svg" viewBox="52.7278 148.217 394.5443 203.566" width="394.544px" height="203.566px"><path d="M 52.731 250.953 C 52.548 240.257 60.137 230.928 70.827 228.709 L 323.354 174.568 L 323.088 187.783 L 323.363 174.531 L 447.272 148.217 L 446.323 351.783 L 320.239 325.472 L 320.247 325.04 L 71.602 272.572 C 60.83 270.726 52.914 261.659 52.731 250.953 Z" fill="%23003349" fill-opacity="0.5" style="" transform="matrix(1, 0, 0, 1, 0, 2.2737367544323206e-13)"/></svg>');
    background-repeat: no-repeat;
    content: "";
    width: 100%;
    height: 203px;

    @media screen and (--desktop-viewport) {
      width: 785px;
      height: 203px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="785" height="206" viewBox="0 0 785 206" fill="none"><path d="M0 102.739C0 87.2037 11.8097 74.2145 27.2745 72.7401L785 0.5V206L27.2344 132.733C11.7869 131.24 0 118.258 0 102.739Z" fill="%23003349" fill-opacity="0.5"/></svg>');
    }

    @media screen and (--desktop-xxl-viewport) {
      height: 203px;
      width: 2000px;
      background-image: url('data:image/svg+xml,<svg width="2000" height="206" viewBox="0 0 2000 206" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 102.227C0 86.9391 12.0902 74.388 27.3679 73.8163L2000 0V205.5L27.3528 130.638C12.0813 130.059 0 117.51 0 102.227Z" fill="%23003349" fill-opacity="0.5"/><defs><linearGradient id="paint0_linear_1911_13513" x1="0" y1="102.75" x2="2000" y2="102.75" gradientUnits="userSpaceOnUse"><stop stop-color="%23003349" stop-opacity="0.5"/><stop offset="0.797771" stop-color="%23003349" stop-opacity="0.4"/><stop offset="0.9" stop-color="%23003349" stop-opacity="0"/></linearGradient></defs></svg>');
    }
  }

  /* Focus styles for keyboard navigation */
  .contentNavItem:focus-visible {
    outline: 2px solid white;
    outline-offset: 4px;
    z-index: 10;
  }

  >li {
    z-index: 2;
    padding-right: 1rem;
    color: var(--font-color);
    position: absolute;
    transition: all 0.3s ease-out;
    transform-origin: 0 0;
    display: flex;
    align-items: center;
    transform: translate(0, -50%);
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: 400;
    width: 100%;

    @media screen and (--desktop-xxl-viewport) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    >a {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      >div {
        display: flex;

        >span {
          color: var(--dark-blue);
          max-width: 50vw;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin-right: 1rem;
        }
      }

      >span.learnMore {
        transition: all 0.3s ease-out;
        transform-origin: right;
        position: relative;
        opacity: 0;
        text-transform: uppercase;
        color: var(--dark-blue) !important;
        line-height: 1rem;
        font-size: 1rem;
        border-radius: 40px;
        border: 2px solid var(--dark-blue);
        padding: 12px;
        padding-right: 2.5rem;
        margin-right: 1.5rem;

        @media screen and (--desktop-xxl-viewport) {
          line-height: 1.375rem;
          font-size: 1.375rem;
          margin-right: 3rem;
        }

        &:after {
          background-color: var(--dark-blue) !important;
          content: "";
          height: 24px;
          width: 24px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
          mask: var(--arrow-right);
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: right;
        }

        &:hover {
          transition: none;
          border-color: white;
          color: white !important;

          &:after {
            background-color: white !important;
          }
        }
      }
    }

    &:before {
      flex-shrink: 0;
      content: "";
      width: 24px;
      height: 24px;
      margin-right: 1rem;
      scale: 0.75;
      background: var(--secondary-color);
    }

    &.active {
      >a>div>span {
        color: var(--primary-color) !important;
        white-space: normal;
        padding-right: 1rem;
      }

      >a>span.learnMore {
        opacity: 1;
      }
    }

    &.active:before {
      background: var(--primary-color);
    }

    &[data-content-type="image"]:before {
      mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 13H19L15.55 8.5L13.25 11.5L11.7 9.5L9 13ZM3 21C2.45 21 1.97917 20.8042 1.5875 20.4125C1.19583 20.0208 1 19.55 1 19V6H3V19H20V21H3ZM7 17C6.45 17 5.97917 16.8042 5.5875 16.4125C5.19583 16.0208 5 15.55 5 15V4C5 3.45 5.19583 2.97917 5.5875 2.5875C5.97917 2.19583 6.45 2 7 2H12L14 4H21C21.55 4 22.0208 4.19583 22.4125 4.5875C22.8042 4.97917 23 5.45 23 6V15C23 15.55 22.8042 16.0208 22.4125 16.4125C22.0208 16.8042 21.55 17 21 17H7ZM7 15H21V6H13.175L11.175 4H7V15Z" fill="currentColor"/></svg>');
    }

    &[data-content-type="video"]:before {
      mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M9.5 16.5L16.5 12L9.5 7.5V16.5ZM12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z"  fill="currentColor"/></svg>');
    }

    &[data-content-type="layer"]:before {
      mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 21.05L3 14.05L4.65 12.8L12 18.5L19.35 12.8L21 14.05L12 21.05ZM12 16L3 9L12 2L21 9L12 16ZM12 13.45L17.75 9L12 4.55L6.25 9L12 13.45Z"  fill="currentColor"/></svg>');
    }

    &[data-content-type="blog"]:before {
      mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 22.5C10.8 21.3667 9.425 20.5 7.875 19.9C6.325 19.3 4.7 19 3 19V8C4.68333 8 6.3 8.30417 7.85 8.9125C9.4 9.52083 10.7833 10.4 12 11.55C13.2167 10.4 14.6 9.52083 16.15 8.9125C17.7 8.30417 19.3167 8 21 8V19C19.2833 19 17.6542 19.3 16.1125 19.9C14.5708 20.5 13.2 21.3667 12 22.5ZM12 19.9C13.05 19.1167 14.1667 18.4917 15.35 18.025C16.5333 17.5583 17.75 17.25 19 17.1V10.2C17.7833 10.4167 16.5875 10.8542 15.4125 11.5125C14.2375 12.1708 13.1 13.05 12 14.15C10.9 13.05 9.7625 12.1708 8.5875 11.5125C7.4125 10.8542 6.21667 10.4167 5 10.2V17.1C6.25 17.25 7.46667 17.5583 8.65 18.025C9.83333 18.4917 10.95 19.1167 12 19.9ZM12 9C10.9 9 9.95833 8.60833 9.175 7.825C8.39167 7.04167 8 6.1 8 5C8 3.9 8.39167 2.95833 9.175 2.175C9.95833 1.39167 10.9 1 12 1C13.1 1 14.0417 1.39167 14.825 2.175C15.6083 2.95833 16 3.9 16 5C16 6.1 15.6083 7.04167 14.825 7.825C14.0417 8.60833 13.1 9 12 9ZM12 7C12.55 7 13.0208 6.80417 13.4125 6.4125C13.8042 6.02083 14 5.55 14 5C14 4.45 13.8042 3.97917 13.4125 3.5875C13.0208 3.19583 12.55 3 12 3C11.45 3 10.9792 3.19583 10.5875 3.5875C10.1958 3.97917 10 4.45 10 5C10 5.55 10.1958 6.02083 10.5875 6.4125C10.9792 6.80417 11.45 7 12 7Z" fill="currentColor"/></svg>');
    }
  }
}

@keyframes showFromCenter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
