.projectionContainer
  position: relative
  margin: 20px

.projectionButton
  background-color: #ccc
  font-size: 1em
  outline: 0

.projectionList
  position: absolute
  bottom: 20px
  right: 0
  min-width: 200px
  background-color: #fff;
  padding: 0
  list-style: none

.projectionListItem
  padding: 10px 15px
  margin: 7px

.projectionListItem:hover,
.projectionListItem:focus
  background-color: #e0f1ff
