.projectionContainer
    position: relative

.projectionButton
    background-color: #ccc
    font-size: 1em
    outline: 0

.projectionList
    position: absolute
    bottom: 20px
    left: 0
    min-width: 250px
    background-color: #fff;
    padding: 0

.projectionListItem
    padding: 10px 15px
    margin: 7px

.projectionListItem:hover,
.projectionListItem:focus
    background-color: #e0f1ff
