.projectionContainer
  position: relative
  margin: 20px

.projectionButton
  padding: 2px
  outline: 0
  border-radius: 50%
  background-color: #ccc
  font-size: 1em
  line-height: 50%
  cursor: pointer

.projectionList
  position: absolute
  right: 0
  bottom: 20px
  padding: 0
  min-width: 200px
  border-radius: 5px
  background-color: #fff
  list-style: none
  cursor: pointer

.projectionListItem
  margin: 7px
  padding: 10px 15px

.projectionListItem:hover, .projectionListItem:focus
  background-color: #e0f1ff
