.category-navigation {
  grid-area: globe-nav-area;
  margin-top: auto;
}

.chosenCategory {
  grid-area: globe-nav-area;
  z-index: 2;
  color: white;
  color: var(--Neutral-White, #fff);
  text-align: center;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.48);
  /* Mobile/H3 */
  font-family: NotesEsa;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */

  > span {
    color: var(--main-colours-esa-teal-55, #98dbce);
    text-align: center;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.48);
    /* Mobile/H6 */
    font-family: NotesEsa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }
}
