@require '../../../../variables.styl'

.content
  overflow-y: scroll
  padding: emCalc(48px) emCalc(28px) emCalc(48px) emCalc(56px)
  max-width: emCalc(750px)
  background-color: $plainBlack
  color: $textDefault
  line-height: emCalc(22px)
  direction: rtl

  *
    direction: ltr

  h1
    margin-top: 0
    font-weight: bold
    font-size: emCalc(36px)
    font-family: NotesEsaBold
    line-height: emCalc(16px)

  h2
    margin-top: 0
    font-size: emCalc(19px)

  p + h2
    margin-top: emCalc(30px)
    font-family: NotesEsaBold

  p + h3, h4, h5, h6
    margin-top: emCalc(30px)
    font-family: NotesEsaBold

  p
    margin: emCalc(10px) 0

  img, img + em
    display: block
    width: 100%
    font-weight: bold
    font-size: emCalc(11px)
    font-family: NotesEsa
    line-height: normal

  a
    margin: 1em 0
    color: $textColor
    text-decoration: none

.shortTextContent
  overflow-y: hidden
  padding: emCalc(40px)
  font-size: 2.3vh

  ul + h2
    margin-top: emCalc(30px)

@media screen and (max-width: 768px)
  .content
    padding-left: emCalc(28px)

@media screen and (max-width: 480px)
  .content
    order: 2
    overflow-y: unset
    padding-top: 0
    width: 100%
