@require '../../../../variables.styl'

.content
  overflow-y: auto
  padding: emCalc(80px) emCalc(28px) emCalc(80px) emCalc(56px)
  max-width: emCalc(750px)
  background-color: $black
  color: $textDefault
  line-height: emCalc(22px)
  direction: rtl

  *
    direction: ltr

  h1
    margin-top: 0
    font-weight: bold
    font-size: emCalc(36px)
    font-family: NotesEsa
    line-height: emCalc(16px)

  img, p > em
    display: block
    width: 100%
    font-weight: bold
    font-size: emCalc(11px)
    font-family: NotesEsa
    line-height: normal

.shortTextContent
  overflow-y: hidden
  padding-top: emCalc(30px)
  font-size: emCalc(24px)

  p
    margin: emCalc(10px) 0

@media screen and (max-width: 480px)
  .content
    order: 2
    overflow-y: unset
    padding-top: 0
    width: 100%
