@require '../../../../variables.styl'

.pilotStory
  width: 100vw
  font-family: NotesEsa
  display: flex
  flex-direction: column

.chapterContainer
  display: flex
  flex-direction: column
  gap: 1em
  background: linear-gradient(270deg, rgba(0, 32, 46, 0.7) 8.28%, rgba(2, 30, 42, 0) 100%)
  z-index: 1
