@require '../../../../variables.styl'

.pilotStory
  display: flex
  flex-direction: column
  width: 100vw
  font-family: NotesEsa

.chapterContainer
  display: flex
  flex-direction: column
  gap: 1em
  background: linear-gradient(270deg, rgba(0, 32, 46, 0.7) 8.28%, rgba(2, 30, 42, 0) 100%)
  z-index: 1
  justify-content: center
  align-items: center
  height: 100%

.navContainer
  padding: 1.5rem

.drawer
  display: flex
  justify-content: center

.header
  display: flex
  position: relative
  justify-content: space-between
  align-items: center
  padding: 1.5rem
  text-transform: uppercase
  margin: 0

.navLinks
  background: none
  color: rgba(0, 179, 152, 1)
  padding-left: 0
  svg
    fill: currentColor

.chapterProgressIndication
  position: fixed !important
  z-index: 10
  top: 200px
  left: 36px
  pointer-events: none
  filter: drop-shadow(0px 0px 30px #007D8A)

