.showcaseSelector {
  grid-area: header / content / content / content;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  pointer-events: auto;
}

