@require '../../../../variables.styl'

.welcomeScreen
  display: flex
  flex-direction: row
  margin-right: auto
  padding-left: 30px
  width: 40%
  color: $textDefault
  font-family: NotesEsa

.content
  overflow-y: scroll
  margin: emCalc(10px) 0
  height: 80%
  color: $textDefault

  h1
    display: flex
    justify-content: space-between
    color: $textWhite

  h2
    color: $textWhite
    font-family: NotesEsa

  a
    color: $textColor
    text-decoration: none

.tourButtons
  display: flex
  flex-direction: row
  margin: emCalc(20px) 0

.primaryTourButton, .secondaryTourButton
  padding: emCalc(6px) emCalc(14px)
  border-radius: 40px
  text-transform: uppercase
  font-size: emCalc(12px)
  font-family: NotesEsaBold

.primaryTourButton
  background: $main

  &:hover
    color: $darkGrey1

.secondaryTourButton
  margin-right: emCalc(20px)
  background: rgba($main, 0.2)

@media screen and (max-width: 480px)
  .welcomeScreen
    width: 100%
    height: 100%
