/* inhereits story grid class */
.textContainer {
  color: var(--Neutral-White, #fff);
  height: var(--story-height);
  position: relative;
  z-index: 1000;

  .textBlock {
    height: 100%;
    justify-content: center;
    grid-column: 1/-1;
    grid-row: 1/ -1;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media screen and (--desktop-viewport) {
      grid-column: 2 / -2;
    }

    h1,
    h2,
    h3 {
      font-weight: 700;
      line-height: 1.25; /* 125% */
    }

    a {
      color: var(--Main-ESA-Teal);
    }

    * {
      text-shadow:
        0 1px 2px rgba(0, 0, 0, 0.3),
        0 1px 3px rgba(0, 0, 0, 0.15);
      font-family: NotesEsa;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px; /* 128.571% */

      @media screen and (--desktop-viewport) {
        text-align: center;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.48);
        font-size: 48px;
        line-height: 60px; /* 125% */
        grid-column: 2 / -2;
      }
    }
  }
}
