.imageCompare {
  position: relative;

  > span {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;

    &:before {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M9.5 6V3.55L3.55 9.5H6V11H1V6H2.5V8.45L8.45 2.5H6V1H11V6H9.5ZM14.825 23C14.425 23 14.0417 22.925 13.675 22.775C13.3083 22.625 12.9833 22.4083 12.7 22.125L7.6 17L8.35 16.225C8.61667 15.9583 8.92917 15.7792 9.2875 15.6875C9.64583 15.5958 10 15.6 10.35 15.7L12 16.175V8C12 7.71667 12.0958 7.47917 12.2875 7.2875C12.4792 7.09583 12.7167 7 13 7C13.2833 7 13.5208 7.09583 13.7125 7.2875C13.9042 7.47917 14 7.71667 14 8V15H15V12C15 11.7167 15.0958 11.4792 15.2875 11.2875C15.4792 11.0958 15.7167 11 16 11C16.2833 11 16.5208 11.09583 16.7125 11.2875C16.9042 11.4792 17 11.71667 17 12V15H18V13C18 12.7167 18.0958 12.4792 18.2875 12.2875C18.4792 12.0958 18.7167 12 19 12C19.2833 12 19.5208 12.0958 19.7125 12.2875C19.9042 12.4792 20 12.7167 20 13V15H21C21 14.7167 21.0958 14.4792 21.2875 14.2875C21.4792 14.0958 21.7167 14 22 14C22.2833 14 22.5208 14.0958 22.7125 14.2875C22.9042 14.4792 23 14.7167 23 15V19C23 20.1 22.6083 21.0417 21.825 21.825C21.0417 22.6083 20.1 23 19 23H14.825Z" fill="white"/></svg>');
      background-repeat: no-repeat;
      background-position: center;
    }

    z-index: 1;
  }

  &:not(.isComparing):after {
    background: rgba(1, 30, 43, 0.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .compareModeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #fff;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: fit-content;

    .description {
      color: var(--Neutral-White, #fff);
      text-align: center;
      max-height: 60vh;
      overflow-y: scroll;

      /* M3/Elevation Light/1 */
      text-shadow:
        0px 1px 2px rgba(0, 0, 0, 0.3),
        0px 1px 3px rgba(0, 0, 0, 0.15);

      /* CI/Mobile/H3 */
      font-family: NotesEsa;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 34px;
      /* 130.769% */
    }

    .controlButton {
      text-transform: capitalize;
      color: #fff;
      font-size: 16px;
      width: fit-content;
      font-style: normal;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.32px;
      height: fit-content;
      padding: 12px;
      border-radius: 40px;
      border: none;
      background: var(--Supporting-Colours-Deep-Space-1, #3f6c7d);
      box-shadow: 0px 0px 12px 0px rgba(0, 51, 73, 0.25);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .closeButton {
    position: absolute;
    top: 20px;
    height: fit-content;
    right: 28px;
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
  }
}

.captions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 14px;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 0.175px;
  color: white;

  > div {
    flex: 1;
  }

  h3 {
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  p {
    font-weight: 400;
  }
}
