.textBodyLarge {
  background: var(--neutral-esa-background);
  width: 100%;
  /* As we want the slides to snap, we need to disable the scroll snap alignment on the container. Otherwise, it might not work properly */
  > * {
    height: min(var(--story-height), 100%);
  }
}

.slide {
  position: relative;
  color: white;

  .slidesContainer {
    overflow: scroll;
  }
}
