@require '../../../../variables.styl'

.settings
  display: grid
  height: 100%
  column-gap: emCalc(24px)
  grid-template-columns: repeat(2, auto)
  grid-template-rows: repeat(4, auto)
  row-gap: emCalc(24px)

.title
  font-weight: 700
  font-style: normal
  font-size: emCalc(16px)
  font-family: Arial
  line-height: emCalc(22px)

.languageSelect
  display: flex
  flex-direction: column
  grid-area: 4 / 1 / 5 / 3
  gap: emCalc(8px)

  label
    color: $textWhite

  select
    padding: 0 emCalc(16px)
    width: 100%
    height: 44px
    border-radius: 4px
    background: $black
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 width%3D%22292.4%22 height%3D%22292.4%22%3E%3Cpath fill%3D%22%23ffffff%22 d%3D%22M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z%22/%3E%3C/svg%3E')
    background-position: right 1rem top 50%
    background-size: 0.65rem auto
    background-repeat: no-repeat
    font-size: emCalc(16px)
    appearance: none

.languageSelect > *
  color: $textDefault

@media screen and (max-width: 850px)
  .settings
    grid-column-start: 1
