@require '../../../../../../variables.styl'

.chapterText
  height: 100vh
  box-sizing: border-box
  color: $textWhite
  text-align: center
  font-size: emCalc(30px)
  font-style: normal
  font-weight: 700
  line-height: 36px
  padding: 0 emCalc(24px)
  display: flex
  flex-direction: column
  justify-content: center
