@require '../../../../../../variables.styl'

.chapterText
  height: fit-content
  color: $textWhite
  text-align: center
  font-style: normal
  display: flex
  flex-direction: column
  justify-content: center

  p
    font-size: emCalc(30px)
    font-weight: 700
    line-height: 36px

.chapterText.textSections
  text-align: left
  padding: 1em 0

  h3
    font-size: emCalc(30px)
    margin: 0

  p
    font-size: emCalc(20px)
    line-height: 22px
    margin-top: emCalc(20px)

@media screen and (min-width: 768px)
  .chapterText
    padding: emCalc(20px)
    max-width: 80%
    align-self: center

    h3
      font-size: emCalc(42px)
      margin: 0

    p
      font-size: emCalc(62px)
      line-height: 68px

  .chapterText.textSections
    p
      font-size: emCalc(28px)
      line-height: 32px
