@require '../../../../../../variables.styl'

.chapterText
  height: 100%
  color: $textWhite
  text-align: center
  font-style: normal
  display: flex
  flex-direction: column
  justify-content: center

  p
    font-size: emCalc(30px)
    font-weight: 700
    line-height: 36px

.chapterText.textSections
  text-align: left
  padding: 1em 0

  h3
    font-size: emCalc(30px)
    margin: 0

  p
    font-size: emCalc(20px)
    line-height: 22px
    height: 300px
    margin-top: emCalc(20px)
