.header {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.25em;
  height: var(--header-height);
  background-color: var(--dark-grey-1);
  font-family: NotesEsa;
}
.logo {
  width: fit-content;
}
.backButton {
  flex-grow: 1;
  padding-left: 1.25em;
  width: 50%;
  color: #fff;
  font-size: 1.125em;
}
.title {
  position: absolute;
  left: 50%;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.125em;
  transform: translateX(-50%);
}
.rightContent {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5625em;
  width: 50%;
  color: var(--text-default);
}
@media screen and (--mobile-s-viewport) {
  .title {
    flex-basis: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (--mobile-s-viewport) {
  .logo {
    width: 0.75em;
  }
}
