@require '../../../../variables.styl'

.layerInfo
  display: flex
  flex-direction: column
  justify-content: center
  width: 50%
  font-family: NotesEsa

.layerType
  color: $textColor
  text-transform: uppercase
  font-weight: bold
  font-size: emCalc(11px)

.layerTitle
  display: flex
  justify-content: space-between
  margin-top: remCalc(10px)
  color: $textDefault

.description
  margin: emCalc(10px) 0
  color: $textDefault
  font-family: Arial, Helvetica, sans-serif

  *:first-child
    margin-top: 0

  a
    margin: 1em 0
    color: $textColor
    text-decoration: none
    text-transform: uppercase
    font-size: emCalc(12px)

  ul
    padding: 0
    list-style: none
