@require '../../../variables.styl'

.button
  display: flex
  align-items: center
  padding: emCalc(15px)
  outline: 0
  border: none
  background: none
  color: $textWhite
  text-decoration: none
  font-size: 1em
  cursor: pointer
  fill: $textWhite

  svg
    padding-right: emCalc(5px)
