@require '../../../variables.styl'

.button
  display: flex
  align-items: center
  outline: 0
  border: none
  background: none
  color: $textWhite
  text-decoration: none
  font-size: 1rem
  cursor: pointer
  fill: $textWhite

  &:hover, &:focus
    color: $main
    fill: $main

  svg
    padding-right: emCalc(7px)
