@require '../../../../variables.styl'

.attributions
  display: flex
  flex-direction: column
  justify-content: center
  width: 50%
  color: $textDefault
  font-family: NotesEsa

  h1
    display: flex
    justify-content: space-between
    color: $textDefault

  a
    color: $textColor
    text-decoration: none
