@require '../../../../variables.styl'

.attributions
  display: flex
  flex-direction: column
  justify-content: center
  width: 50%
  height: 100%
  font-family: NotesEsa

.credits
  overflow-y: scroll
  margin: emCalc(10px) 0
  height: 80%
  color: $textDefault
  font-family: Arial, Helvetica, sans-serif

  h1
    display: flex
    justify-content: space-between
    color: $textDefault

  a
    color: $textColor
    text-decoration: none
