.fullscreenOverlay {
  -webkit-user-select: none;
  height: var(--story-height);
  user-select: none;
  touch-action: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
