.dataSetInfo
  position: absolute
  display: flex
  flex-direction: row
  width: 100%

.dataSetContent
  top: 5px
  width: 100%
  text-align: center

.title
  color: #fff
  font-size: 1.5em

.description
  margin-top: 0
  color: #fff
  font-size: 1em

.buttons
  display: flex
  justify-content: center
