@require '../../../variables.styl'

.dataSetInfo
  position: absolute
  bottom: emCalc(14px)
  display: flex
  flex-direction: row
  width: 100%

.dataSetContent
  top: emCalc(5px)
  display: flex
  justify-content: center
  align-items: center
  width: 100%

  &:hover, &:focus
    svg
      fill: $main

.title
  margin: 0
  color: $textWhite
  font-size: 1em

.buttons
  display: flex
  justify-content: center
