.dataSetInfo
  position: absolute
  top: 5px
  z-index: 1
  display: flex
  flex-direction: column
  width: 100%
  text-align: center

.title
  color: #fff
  font-size: 1.5em

.description
  margin-top: 0
  color: #fff
  font-size: 1em

.buttons
  display: flex
  flex-direction: row
  align-self: center
