$range-height = 5px

.timeSlider
  position: absolute
  bottom: 1em
  z-index: 1
  display: flex
  justify-content: center
  width: 100% 

.container
  width: 80%

  .label
    display: flex
    justify-content: space-between
    align-items: flex-end
    color: white
    font-size: 1.3em

  .labelMin, .labelMax
    font-size: 0.6em

  .ranges
    position: relative
    width: 100%
    height: $range-height * 2

    .rangeMain, .rangeCompare
      position: absolute
      height: $range-height

    .rangeMain
      background: yellow

    .rangeCompare
      top: $range-height
      background: orange

  input
    margin: 0
    width: 100%
