@require '../../../../../../variables.styl'

.exploreStories
  height: 100%
  background: linear-gradient(250deg, #003349 19.74%, rgba(0, 51, 73, 0) 106.06%), #000
  color: #fff
  display: flex
  gap: emCalc(18px)

.outro
  color: $textWhite
  height: fit-content
  width: 100vw
  box-sizing: border-box
  padding: $headerHeight 0 emCalc(100px)
  overflow-x: hidden
  background: linear-gradient(250deg, #003349 19.74%, rgba(0, 51, 73, 0) 106.06%), #000
  flex-direction: column
  justify-content: center
  gap: 2em
  scroll-snap-align: start
  text-wrap: balance


  
.outro .exploreText
  text-align: center
  font-size: emCalc(24px)
  font-style: normal
  font-weight: 700
  line-height: 1
  text-wrap: balance
  scroll-margin-top: emCalc(52px)
  margin: 0


.storiesContainer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  scroll-snap-align: center

  .storyItem
    display: flex
    flex-direction: column
    align-items: center
    
    img
      margin-bottom: emCalc(24px)
      max-height: 200px

  .storyItem:not(:last-child)
    border-bottom: 1px solid $deepSpace2

.exploreButton
  background: none
  border: none
  box-shadow: none
  display: flex
  flex-direction: row-reverse


@media screen and (min-width: 768px)
  .exploreStories
    height: 100vh

  .exploreStories, .storiesContainer
    flex-direction: row
    align-items: center

    .storyItem:not(:last-child)
      border-bottom: none

    .storyItem
      width: 30%
      height: 100%
      align-self: flex-start

      img
        width: 100%
        max-height: 100%

  .storiesContainer
    gap: emCalc(50px)

  .exploreStories
    gap: emCalc(50px)

  .outro .exploreText
    margin: 2rem auto
    font-size: emCalc(30px)
    text-align: center

  
