.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slidesContainer {
  position: relative;
  width: 100%;
}

.track {
  display: flex;
  gap: 24px;
  height: 100%;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (--desktop-viewport) {
    flex: 0 0 60%;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  touch-action: pan-x;
  z-index: 1;

  @media screen and (--desktop-viewport) {
    max-height: 544px;
  }
}

.caption {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px 16px;
  color: white;
  font-size: 14px;
  background: var(--neutral-esa-background);
  line-height: 1.4;
  gap: 4px;
}