@require '../../../../variables.styl'

.checkboxList
  display: flex
  flex-direction: column
  gap: emCalc(16px)

.checkboxList.app
  grid-area: 1 / 1 / 4 / 2

.checkboxList.disabledEmbed
  opacity: 0.5
  pointer-events: none

.listTitle
  margin: 0
  font-weight: 700
  font-style: normal
  font-size: emCalc(16px)
  font-family: Arial
  line-height: emCalc(22px)

.checkboxListItem
  display: flex
  align-items: center
  gap: emCalc(8px)

  input[type='checkbox']
    margin-left: 0
    min-width: remCalc(20px)
    min-height: remCalc(20px)
    accent-color: $textWhite

  label
    color: $textDefault
