.content {
  overflow-y: scroll;
  padding: calc(var(--header-height) + 1.5rem) 1.75em var(--footer-height) 3.5em;
  max-width: 46.875em;
  background-color: #000;
  color: var(--text-default);
  line-height: 1.375em;
  direction: rtl;
}
.content * {
  direction: ltr;
}
.content h1 {
  margin-top: 0;
  font-weight: bold;
  font-size: 2.25em;
  font-family: NotesEsaBold;
  line-height: 1em;
}
.content h2 {
  margin-top: 0;
  font-size: 1.1875em;
}
.content p + h2 {
  margin-top: 1.875em;
  font-family: NotesEsaBold;
}
.content p + h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 1.875em;
  font-family: NotesEsaBold;
}
.content p {
  margin: 0.625em 0;
}
.content img,
.content img + em {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 0.6875em;
  font-family: NotesEsa;
  line-height: normal;
}
.content a {
  margin: 1em 0;
  color: var(--main);
  text-decoration: none;
}
.shortTextContent {
  overflow-y: auto;
  padding: 2.5em;
  font-size: 1rem;
}
.shortTextContent ul + h2 {
  margin-top: 1.875em;
}
@media screen and (--mobile-viewport) {
  .content {
    order: 2;
    padding-left: 1.75em;
  }
}
@media screen and (--mobile-s-viewport) {
  .content {
    order: 2;
    overflow-y: unset;
    padding-top: 0;
    width: 100%;
  }
}
