.globeNavigation {
  position: absolute;
  right: 1.375em;
  bottom: 1.375em;
  display: flex;
  gap: 0.9375em;
}
.globeNavigation > * {
  z-index: 1;
}
.projection {
  text-shadow: 0px 0px 2px #10161a;
}
.projection:hover {
  text-shadow: none;
}
.compass {
  width: 24px;
  height: 24px;
}
.compass svg {
  transition: all 0.5s ease-out;
  transform: rotate(var(--globe-latitude));
}
.compass svg:hover {
  fill: #00ae9d;
}
.downloadIcon svg {
  stroke: rgba(16,22,26,0.3);
  fill: #fff;
}
.downloadIcon svg:hover {
  stroke: none;
}
.locateMe {
  width: 22px;
  height: 22px;
}
