@require '../../../../../../variables.styl'

.scrollHint
  color: $textWhite
  font-family: NotesEsa
  font-size: 14px;
  font-style: normal
  font-weight: 400
  line-height: 19px;
  width: 100%
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  gap: 12px

  .animated
    fill: $textWhite
    display: block
    animation: fade-in-up 2s ease infinite

.scrollHint:has(.animated)
  flex-direction: column-reverse
 

@keyframes fade-in-up
  0%
    opacity: 0
    transform: translateY(20px)

  100%
    opacity: 1
    transform: translateY(0)
