@require '../../../../../../variables.styl'

.scrollHint
  color: $textWhite
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 4px

  svg
    fill: $textWhite
