.content
  position: fixed
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  bottom: 0
  color: white
  background: rgba(0, 51, 73, 0.4);


@media screen and (min-width: 768px)
  .content
    border-radius: 24px;
    top: -64px
    width: 500px
    height: fit-content
    background: rgba(0, 51, 73, 0.95);

  .content:not(.open) > div
    display: none

  div.content.open:after,
  div.content:not(.open):after
    height: 0



 



  


