.splashscreenContainer {
  background-color: var(--Neutral-ESA-Background, #011e2b);
  background-size: cover;
  position: relative;
  scroll-snap-align: start;

  &.locationStory {
    background-color: transparent;
    .parallaxContainer {
      background-image: none;
    }
  }

  .splashBanner {
    position: relative;
  }

  .parallaxContainer {
    z-index: 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--story-height);
    will-change: transform;
    /* position: absolute; */
    /* inset: 0; */
    background-size: cover;
    will-change: transform;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0)
      );
      z-index: 1;
      pointer-events: none;
    }
  }

  .contentContainer {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    z-index: 2;
    will-change: transform;
    inset: 0;
  }

  .storyIntro {
    color: white;
    padding-inline: var(--story-padding);

    p {
      color: var(--Neutral-ESA-White, #fff);
      text-align: center;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.48);
      font-family: NotesEsa;
      font-size: clamp(18px, 4vw, 22px);
      line-height: clamp(28px, 5vw, 36px);
      font-style: normal;
      font-weight: 400;
    }

    h1 {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: clamp(36px, 5vw, 80px);
      font-family: NotesEsaBold;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
}

.backgroundOverlay {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--story-height);
  background-color: rgba(1, 30, 43, 0.5);
  z-index: 1;
  pointer-events: none;
}
