.splashscreen {
  scroll-snap-align: start;
  height: 100%;
  background-position: center;
  background-size: cover;

  .parallaxContainer {

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0));
      z-index: 1;
      pointer-events: none;
    }
  }

  .content {
    color: white;
    padding-inline: var(--story-padding);

    p {
      line-height: 1.375em;
    }

    h1 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.25em;
      font-family: NotesEsaBold;
      line-height: 1em;
    }
  }
}
