.stickySectionWrapper {
  position: relative;

  .stickyScroller {
    scroll-margin-top: calc(-2 * var(--story-height));
    height: var(--story-height);
    position: sticky;
    top: 0;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 64px;

    @media screen and (--desktop-viewport) {
      grid-template-rows: 1fr 92px;
    }
    /* Keep content from spilling out */

    .imageContainer {
      position: relative;
      /* New container for absolute positioning */
      width: 100%;
      height: 100%;

      li {
        list-style-type: none;
      }
    }

    .slideAndText {
      display: flex;
    }
    /* recevies story-grid class */
    .currentImageText {
      place-items: start;
      padding-block: 1rem;
      width: 100%;
      background-color: var(--Neutral-ESA-Background, #011e2b);
      color: var(--Neutral-ESA-White, #fff);
      text-shadow:
        0px 1px 2px rgba(0, 0, 0, 0.3),
        0px 1px 3px rgba(0, 0, 0, 0.15);
      font-family: "NotesEsa", sans-serif;
      font-style: normal;

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 135.714% */
      letter-spacing: 0.175px;

      /* M3/Elevation Light/1 */
      text-shadow:
        0 1px 2px rgba(0, 0, 0, 0.3),
        0 1px 3px rgba(0, 0, 0, 0.15);
      font-style: normal;
      line-height: 16px; /* 114.286% */
      letter-spacing: 0.175px;

      > * {
        grid-column: 1 / -1;
      }

      @media screen and (--desktop-viewport) {
        padding-block: 1.5rem;
        padding-left: 128px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.33;
        letter-spacing: 0.15px;
      }

      p {
        /* this will truncate the text after two lines. Use legacy webkit properties for better support (95% of browsers) */
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .slideIndicator {
        color: #9a9b9c;
        margin-right: 0.5rem;
      }

      h3 {
        font-weight: 700;
      }
    }
  }
}
