.layers {
  position: sticky;
  top: var(--x-fires-layer-wrapper-top);
  transform: translate(
    calc(
      var(--x-fires-layer-wrapper-x, 0px) - var(--story-padding) *
        var(--x-fires-layer-wrapper-inset-factor, 0)
    ),
    -50%
  );
  opacity: var(--x-fires-layer-wrapper-opacity);
}

.layerStack {
  height: var(--story-height);
  display: grid;
  transform-style: preserve-3d;
  align-items: center;
  justify-content: center;
  grid-auto-columns: 100vw;
  grid-auto-rows: 5rem;
  perspective: none;

  @media (--desktop-viewport) {
    padding-top: 5rem;
  }
}
