@require '../../../variables.styl'

.tags
  display: flex

.tag
  margin-right: 0.5em
  padding: 0.2em 1em
  border: 1px solid $darkGrey4
  border-radius: 12px
  text-transform: uppercase
  font-size: 0.8em

  &:hover
    background: $darkGrey2

.selected, .selected:hover
  background: $darkGrey4
  color: $textColor
