.showcaseSelector
  position: relative
  width: 100%
  height: 100%
  background-color: #fff
  pointer-events: auto

.header
  display: flex
  flex-direction: column

.title
  margin: 0
  text-align: center
  font-size: 1.7em

.playButton
  display: flex
  align-self: flex-end
  align-items: center
  padding-right: 20px

  svg
    padding-left: 10px

.backButton
  display: block
  padding: 20px 0 0 20px
