@require '../../../../variables.styl'

.tags
  display: flex
  flex-wrap: wrap

.tag
  margin-top: 0.5em
  margin-right: 0.5em
  padding: 0.2em 1em
  border: 1px solid $darkGrey4
  border-radius: 12px
  color: $textDefault
  text-transform: uppercase
  font-size: 0.8em
  cursor: pointer

  &:hover
    background: $darkGrey2

.selected, .selected:hover
  background: $darkGrey4
  color: $textColor
