.overlay {
  /* overwrite dialog default */
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: auto;
  align-items: center;
  background-color: transparent;
  border: none;
  color: inherit;
  display: flex;
  justify-content: center;
  padding: 0;
}

.overlay::backdrop {
  background-color: rgba(16, 22, 26, 0.9);
}

.overlayContent {
  color: white;
  align-items: center;
  display: flex;
  height: 70%;
  justify-content: center;
  width: 100%;
}

.closeButton {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}
