.textOverlay {
  width: 100%;
  /* As we want the slides to snap, we need to disable the scroll snap alignment on the container. Otherwise, it might not work properly */
  scroll-snap-align: center;
  > * {
    height: var(--story-height);
  }
}
