@require '../../../../../../variables.styl'

.chapterVideo
  height: 150vh
  box-sizing: border-box
  padding: $headerHeight 0
  overflow-x: hidden
  background: linear-gradient(250deg, #003349 19.74%, rgba(0, 51, 73, 0) 106.06%), #000
  display: flex
  flex-direction: column
  justify-content: center
  gap: 10em
  scroll-snap-align: center

.videoContainer
  color: $textWhite
  text-align: left
  font-style: normal
  align-self: center
  display: flex
  flex-direction: column
  justify-content: center
  flex: 1

.videoText
  text-align: left
  color: #fff
  padding: emCalc(90px) emCalc(29px)

  h3
    font-size: emCalc(30px)
    margin: 0

  p
    font-size: emCalc(20px)
    line-height: 22px
    margin: emCalc(20px) 0

.videoCaption
  width: 80%
  font-size: emCalc(12px)
  font-style: normal
  font-weight: 400
  line-height: 18px
  padding: emCalc(24px)

  span
    color: $teal

@media screen and (min-width: 768px)
  .chapterVideo
    height: 100vh
    padding: $headerHeight emCalc(80px)
    flex-direction: row
    gap: 5em

  .videoContainer
    width: 100%
    height: 60vh

  .videoText
    height: fit-content
    width: 33%
    padding: emCalc(90px) emCalc(29px)

    h3
      font-size: emCalc(42px)

    p
      font-size: emCalc(28px)
      line-height: 32px
