@require '../../../../../../variables.styl'

.radialInfoContainer
  height: 100%
  box-sizing: border-box
  color: $textWhite
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  scroll-snap-align: center

.radialInfoContainer > h2
  position: absolute
  top: 0
  text-align: center
  font-size: emCalc(20px)
  font-style: normal
  font-weight: 700
  line-height: 26px

.elements
  position: relative
  border: 1px solid #007D8A
  border-radius: 50%
  padding: 6px
  display: flex
  justify-content: center
  align-items: center
  opacity: 0

  .img
    border-radius: 50%
    width: 100%

.elements.visible
  opacity: 1
  transition: opacity 0.15s ease-in

.elements:before
  content: ''
  position: absolute
  bottom: 0
  height: 150px
  left: -20px
  right: -20px
  border: 1px dashed $deepSpace2
  border-color: transparent transparent $deepSpace2 transparent
  border-radius: 50% / 0 0 160px 160px
  transform: translateY(50%)

.selectedInner, .optionInner
  background-color: $deepSpace
  border-radius: 50%
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box

.selectedInner
  padding: emCalc(8px)
  text-align: center
  font-size: emCalc(20px)
  font-style: normal
  font-weight: 700
  line-height: 22px
  opacity: 0

.elements.visible .selectedInner
  opacity: 1
  transition: opacity 0.4s ease-in 0.2s

// Renders a backdrop with a 75% inset if the content is an image
.selectedInner:has(img)
  --inset: 75%

  > div
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45)
    z-index: 1
    position: absolute
    top: var(--inset)
    display: flex
    flex-direction: column
    gap: 4px

  &:after
    content: ''
    position: absolute
    bottom: 0
    width: inherit
    height: inherit
    background-color: rgba(1, 1, 1, 0.5)
    overflow: hidden
    border-radius: 0 0 50% 50%
    padding-bottom: 20%
    clip-path: inset(var(--inset) 0 0 0)

.option
  width: 64px
  height: 64px
  padding: emCalc(4px)
  box-sizing: border-box
  border: 1px solid $darkTeal
  border-radius: 50%
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  color: white
  font-weight: bold
  transition: all 0.2s ease-in-out

.optionInner
  background-color: $deepSpace2

.option.selected
  cursor: pointer
  width: 74px
  height: 74px

  .optionInner
    background-color: $darkTeal

@media screen and (min-width: 768px)
  .radialInfoContainer
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    align-items: center
    padding: 0 emCalc(60px)
    gap: emCalc(200px)

    h2
      position: initial
      font-size: emCalc(62px)
      line-height: 68px
      text-align: start

  .elements:before
    transform: rotate(-90deg)
    border-radius: 50% / 0 0 300px 300px
    width: 120%
    height: 100%
    left: 40px

  .selectedInner
    p
      font-size: 42px
      line-height: 46px
