@require '../../../variables.styl'

.infoButton
  display: flex
  flex-direction: column
  align-items: center

.icon
  outline: 0
  border: none
  border-radius: 50%
  background: none
  cursor: pointer

svg
  fill: #fff
