:global(.cesium-viewer-bottom)
  display: none !important

.globe
  position: relative
  flex-grow: 1
  flex-basis: 50%
  height: 100%
  opacity: 0

.fadeIn
  animation: fadeIn 2s
  animation-timing-function: ease-out
  animation-fill-mode: forwards

.fastFadeIn
  animation: fadeIn 0.5s
  animation-timing-function: ease-out
  animation-fill-mode: forwards

@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1
