:global(.cesium-viewer-bottom)
  display: none !important

.globe
  position: relative
  flex-grow: 1
  flex-basis: 50%
  height: 100%
  opacity: 0

.globe canvas
  position: relative
  z-index: 1

.marker
  cursor: pointer
  margin: -16px
  user-select: none;

.markerTitle
  box-sizing: border-box
  width: fit-content
  max-width: 500px
  height: 24px
  color: white
  padding: 6px 16px
  font-family: sans-serif
  font-size: 11px
  letter-spacing: 0.6px
  text-transform: uppercase
  background-color: #30404d
  border-bottom-right-radius: 25px
  border-top-right-radius: 25px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2)

.fadeIn
  animation: fadeIn 2s
  animation-timing-function: ease-out
  animation-fill-mode: forwards

.fastFadeIn
  animation: fadeIn 0.5s
  animation-timing-function: ease-out
  animation-fill-mode: forwards

@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1
