@require '../../../../variables.styl'

.layerDescription
  overflow-y: auto
  margin: remCalc(15px) remCalc(25px)
  height: 50px
  color: $textDefault
  text-align: center
  font-size: 11px
  font-family: NotesEsaBold

@media screen and (max-width: 480px)
  .layerDescription
    position: absolute
    top: 0
    left: 0
    height: 40px
