@require '../../../../variables.styl'

.layerDescription
  position: absolute
  right: 0
  bottom: 0
  padding: emCalc(40px) emCalc(75px)
  color: $textDefault
  text-align: center
  font-size: 11px
  font-family: NotesEsaBold
