@require '../../../../variables.styl'

.layerDescription
  overflow-y: auto
  padding: remCalc(15px) remCalc(25px)
  height: 50px
  background: rgba($black, 0.6)
  color: rgba($textWhite, 0.7)
  text-align: center
  font-size: 11px

@media screen and (max-width: 480px)
  .layerDescription
    position: absolute
    top: 0
    left: 0
    height: 40px
