.container {
  overflow: hidden;
}

.layers {
  transform-style: preserve-3d;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-columns: 100vw;
  grid-auto-rows: 5rem;
  margin: auto 0;
  padding-top: 3rem;
  perspective: 20000px;

  @media (--desktop-viewport) {
    padding-top: 5rem;
  }
}

.scrollText {
  z-index: 2;
}
