.kettleOverlay {
  z-index: 2;
  background: rgba(0, 51, 73, 0.9);
  display: flex;
  height: fit-content;
  width: min(500px, 90%);
  margin: auto;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);

  /* Mobile/Story/Body/XL */
  font-family: NotesEsa;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 36.4px */
}
