.kettleOverlay {
  --overlay-bg: rgba(0, 51, 73, 0.9);
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 342px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--overlay-bg);
  align-items: center;
  gap: 16px;
  text-align: center;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  font-size: 26px;
}
