.infoIcon
    position: absolute
    right: -10%
    top: 50%
    height: 2.25rem
    width: 2.25rem
    border: none
    background: transparent
    z-index: 1
   
    > *
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
