@require '../../../variables.styl'

@font-face
  font-style: normal
  font-family: NotesEsa
  src: url('../../../../assets/fonts/NotesEsaReg.otf')

:global(html), :global(body), :global(#app)
  overflow: hidden
  margin: 0
  height: 100%
  background-color: $black
  font-family: Arial, Helvetica, sans-serif

.logo
  position: absolute
  top: emCalc(22px)
  left: emCalc(22px)
  z-index: 4
  fill: $textWhite
