:global(html), :global(body), :global(#app)
  margin: 0
  height: 100%

.app
  height: 100%
  font-family: Arial, Helvetica, sans-serif

.globeContainer
  position: absolute
  display: flex
  flex-direction: row
  height: 100%
  width: 100%

.layoutContainer
  position: relative
  display: flex
  flex-direction: row
  justify-content: flex-start
  pointer-events: none
  height: 100%
  align-items: flex-end

.layoutContainer > *
  pointer-events: auto

.timeslider
  flex-grow: 1
