@require '../../../variables.styl'

@font-face
  font-style: normal
  font-family: NotesEsa
  src: url('../../../../assets/fonts/NotesEsaReg.otf')

:global(html), :global(body), :global(#app)
  overflow: hidden
  margin: 0
  height: 100%
  background-color: $black
  font-family: Arial, Helvetica, sans-serif

*
  scrollbar-color: $darkGrey1 transparent

*::-webkit-scrollbar
  width: 12px

*::-webkit-scrollbar-track
  background: transparent

*::-webkit-scrollbar-thumb
  border-radius: 20px
  background-color: $darkGrey1
  -webkit-box-shadow: inset 0 0 6px rgba(16, 22, 26, 0.9)

.logo
  position: absolute
  top: emCalc(22px)
  left: emCalc(22px)
  z-index: 4
  fill: $textWhite
