.progressContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: .625em;
  z-index: 1;
}
.progress {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0.625em;
  height: 1.25em;
}
.progressItem {
  margin: 0 0.3125rem;
  width: 12px;
  height: 12px;
  border: 1px solid var(--text-default);
  border-radius: 50%;
  background: rgba(147, 149, 151, 0.31);
}
.currentProgress {
  margin: 0 0.3125rem;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
}
.lightboxProgressContainer {
  position: fixed;
  z-index: 2;
}
.lightboxProgressContainer .progress {
  justify-content: center;
}
@media screen and (--mobile-s-viewport) {
  .progress {
    padding: 0 1.5625em;
  }
}
