.storyHeader
  position: absolute
  right: 500px
  left: 0
  z-index: 1
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  padding: 15px

  > *
    color: #fff

.title
  margin: 0

.present
  .title
    font-size: 2em

  .subtitle
    font-size: 1.3em

  .backButton
    font-size: 1.3em
