@require '../../../variables.styl'

.storyHeader
  display: flex
  flex-shrink: 0
  justify-content: space-between
  align-items: center
  height: emCalc(72px)
  background-color: $darkGrey1
  font-family: NotesEsa

.backButton
  padding-left: emCalc(20px)
  color: $textWhite
  font-size: emCalc(18px)

.title
  flex-grow: 1
  padding-right: emCalc(60px)
  color: $textWhite
  text-align: center
  text-transform: uppercase
  font-size: emCalc(18px)
