@require '../../../variables.styl'

.storyHeader
  position: absolute
  right: $storyWidth
  left: 0
  z-index: 1
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  padding: 15px

  > *
    color: #fff

.title
  margin: 0

.present
  justify-content: center

  .title
    font-size: 2em
