.legendContainer {
  color: white;
  --legend-button-size: 32px;

  position: absolute;
  bottom: calc(var(--container-offset) + 12px);
  right: 12px;
  transform: translate(-50%, -50%);
  width: var(--legend-button-size);
  height: var(--legend-button-size);
}

.legend {
  background-color: var(--dark-blue-1);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  border-radius: 40px;
  overflow: hidden;
  white-space: nowrap;
}

.legendToggle {
  all: unset;
  display: inline-flex;
  border-radius: 100%;
  padding: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-blue-1);
}
