.slide {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;

  --headline-font-size: 3.875rem;
  @media screen and (--mobile-viewport) {
    --headline-font-size: 2.5rem;
  }

  @media screen and (--mobile-viewport) {
    justify-content: center;
    align-items: flex-end;
    padding-left: 0;
  }

  .label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6vh;
    font-size: var(--headline-font-size);
    font-weight: 700;

    @media screen and (--mobile-viewport) {
      left: initial;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .panelContainer {
    display: flex;
    width: 100%;

    @media screen and (--mobile-viewport) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-around;
      height: 100%;
    }

    .gridPanel {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (--mobile-viewport) {
        height: 40%;
        width: 100%;
        justify-content: space-evenly;
      }
    }

    .hidden {
      visibility: hidden;
    }

    .globePanel {
      width: 40%;
      display: flex;
      justify-content: start;

      @media screen and (--mobile-viewport) {
        height: calc(50% - var(--headline-font-size));
        justify-content: center;
      }

      .title {
        position: absolute;
        left: calc((50vw + var(--globe-container-x)));
        transform: translateX(-50%);
        width: max-content;

        @media screen and (--mobile-viewport) {
          height: max-content;
        }
      }
    }

    .title {
      color: var(--light-green);
      font-size: 1.125rem;
      font-weight: 700;
      text-align: center;

      @media screen and (--mobile-viewport) {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }
}

.globeOverlay {
  position: fixed;
  left: calc(50vw + var(--globe-container-x));
  top: calc(50vh + var(--globe-container-y) + 1em);
  transform: translate(-50%, -50%);
  font-size: 1.875rem;
  font-weight: 700;

  @media screen and (--mobile-viewport) {
    font-size: 0.735rem;
    font-weight: 400;
    top: calc(50vh + var(--globe-container-y) - 1em);
  }
}