.slide {
  height: 100%;
  display: grid;
  grid-template-areas: "label label" "divider divider" "globeOverlay treemap";
  place-items: center;
  grid-template-rows: var(--headline-font-size) 2rem 1fr;
  grid-template-columns: 1fr 1fr;
  padding-top: var(--top-spacing);
  padding-inline: min(5%, 2rem);

  --headline-font-size: 3.875rem;
  --top-spacing: 3.875rem;

  @media screen and (--mobile-viewport) {
    --headline-font-size: 2.5rem;
    --top-spacing: 1.25rem;

    grid-template-areas:
      "label"
      "info"
      "globeOverlay"
      "treemap";
    grid-template-columns: 1fr;
    grid-template-rows: var(--headline-font-size) 3rem 1fr 1fr;
  }

  .label {
    grid-area: label;
    font-size: var(--headline-font-size);
    font-weight: 700;
  }

  .description {
    margin-top: min(2.5rem, 5vh);
    grid-area: "info";
    text-wrap: balance;
    text-align: center;
    color: var(--light-green);

    @media (--desktop-viewport) {
      /* hidden on desktop, but in DOM for screenreaders */
      visibility: hidden;
      pointer-events: none;
      position: absolute;
    }
  }

  .treemapContainer {
    grid-area: treemap;
    width: 100%;

    @media (--mobile-viewport) {
      width: 70%;
      display: grid;
      place-items: center;
    }
  }

  .info {
    margin-top: min(5rem, 5vh);
    color: var(--light-green);
    font-size: 1.125rem;
    text-align: center;
    font-weight: 700;
    align-self: start;

    &:first-of-type {
      grid-area: globeOverlay;
    }

    &:last-of-type {
      grid-area: treemap;
    }
    @media (--mobile-viewport) {
      display: none;
    }
  }
}

.globeOverlay {
  grid-area: globeOverlay;
  span {
    font-size: 1.25rem;
    font-weight: 400;
  }
}
