@require '../../../../variables.styl'

.hoverLegend
  position: absolute
  top: 50%
  left: emCalc(22px)
  z-index: 1
  display: flex
  flex-direction: row
  height: 40%
  color: white
  transform: translateY(-50%)
  user-select: none

.rightSided
  right: emCalc(22px)
  left: auto
  flex-direction: row-reverse

  .values
    padding-right: emCalc(8px, 14)
    padding-left: 0
    text-align: right

.image, .color
  width: 8px
  height: 100%

.values
  display: flex
  flex-direction: column
  justify-content: space-between
  padding-left: emCalc(8px, 14)
  text-shadow: 0px 0px 2px $plainBlack
  font-size: 14px
  font-family: 'NotesESA', 'Arial', sans-serif

.hoverLegend
  display: flex
  flex-direction: column

  > :first-child
    .color
      border-top-left-radius: 5px
      border-top-right-radius: 5px

  > :last-child
    .color
      border-bottom-right-radius: 5px
      border-bottom-left-radius: 5px

  > :hover
    .color
      box-shadow: inset 0 0 0.1em $plainBlack

.legendItem
  display: flex
  width: 100%
  height: 100%

.hoverValue
  position: absolute
  display: block
  margin: 0 emCalc(15px)
  width: max-content
  text-shadow: 0px 0px 2px $plainBlack
  font-size: 14px
  font-family: 'NotesESA', 'Arial', sans-serif
  line-height: 50%

.rightSided
  .legendItem
    flex-direction: row-reverse
