.storyItem
  padding: 5px

.selected
  position: relative
  background: #ccc

.storyNumber
  position: absolute
  top: 10px
  right: 10px
  width: 30px
  height: 30px
  border: 1px solid #000
  border-radius: 50%
  background-color: #ccc
  color: #000
  text-align: center
  line-height: 30px

.image
  width: 100%
  height: 150px
  background-color: #ccc
  object-fit: cover

.title
  margin: 0
  margin-top: 5px
  font-size: 1.2em

.description
  font-size: 1em

a
  color: #000
  text-decoration: none

.present
  img
    height: 300px

  .title
    font-size: 2em

  .description
    font-size: 1.5em
