@require '../../../variables.styl'

.storyItem
  display: flex
  flex-direction: column
  justify-content: flex-end
  margin: 5px
  height: 100%
  height: 300px
  border: 2px solid $darkGrey1
  border-radius: 4px
  background-size: cover

.selected
  position: relative
  border: 2px solid $main

.storyNumber
  position: absolute
  top: 10px
  right: 10px
  width: 30px
  height: 30px
  border-radius: 50%
  background-color: $main
  color: $textWhite
  text-align: center
  line-height: 30px

.imageInfo
  display: flex
  flex-direction: column
  padding: 16px
  height: 40%
  background-color: $darkGrey1
  opacity: 0.95

.title
  margin: 0
  margin-top: 5px
  color: $main
  font-size: 1.125em

.description
  color: $textDefault
  font-size: 1.125em

a
  color: $textDefault
  text-decoration: none

.present
  img
    height: 300px

  .title
    font-size: 2em

  .description
    font-size: 1.5em

.downloadButton
  display: flex
  flex-grow: 1
  flex-direction: column
  justify-content: flex-end
  align-self: flex-end
