.storyItem
  padding: 5px

.image
  width: 100%
  height: 150px
  background-color: #ccc
  object-fit: cover

.title
  margin: 0
  margin-top: 5px
  font-size: 1.2em

.description
  font-size: 1em

a
  color: #000
  text-decoration: none

.present
  img
    height: 300px

  .title
    font-size: 2em

  .description
    font-size: 1.5em
