@require '../../../../../../variables.styl'

.intro
  height: 100vh
  padding: $headerHeight emCalc(29px)
  display: flex
  flex-direction: column
  justify-content: center
  box-sizing: border-box
  z-index: 1

.backContainer
  z-index: 1
  margin: 75px 0 50px

.hidden
  opacity: 0
  transition: opacity 1s ease-out

.storyTitle
  color: $textWhite
  font-family: NotesEsa
  font-size: 48px
  font-style: normal
  font-weight: 700
  line-height: 50px
  width: 100%
  margin-top: emCalc(30px)

.storyDescription
  color: #fff
  font-family: NotesEsa
  font-size: 20px
  font-style: normal
  font-weight: 700
  line-height: 24px

.buttonContainer
  width: 100%
  min-height: emCalc(43px)
  display: flex
  gap: 8px

#whiteButton
  background: $textWhite
  color: $deepSpace
