@require '../../../../../../variables.styl'

.intro
  --topPadding: 75px
  height: calc(100svh - var(--topPadding))
  padding: 0 emCalc(29px)
  display: flex
  flex-direction: column
  justify-content: center
  box-sizing: border-box
  z-index: 1
  scroll-snap-align: center

  & > *
    z-index: 1

.hidden
  .storyTitle, .storyDescription, .backToStories
    opacity: 0
    transition: opacity 0.5s ease-out

.storyTitle
  color: $textWhite
  font-family: NotesEsa
  font-size: emCalc(48px)
  font-style: normal
  font-weight: 700
  line-height: 50px
  width: 100%
  margin-top: emCalc(22px)

.storyDescription
  color: #fff
  font-family: NotesEsa
  font-size: emCalc(20px)
  font-style: normal
  font-weight: 700
  line-height: 24px

.buttonContainer
  width: 100%
  min-height: emCalc(43px)
  display: flex
  gap: 8px

#whiteButton
  background: $textWhite
  color: $deepSpace

@media screen and (min-width: 768px)
  .intro
    padding: $headerHeight emCalc(90px)
    margin-left: auto
    max-width: 55%

  .intro.hidden
    max-width: 100%
    margin: 0

    .storyTitle, .storyDescription, .backToStories
      transition: none

  .storyTitle
    font-size: emCalc(78px)
    line-height: 80px
    margin: remCalc(32px) 0

  .introContent
    display: flex
    flex-direction: column
    gap: remCalc(32px)
