.menuOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  color: var(--text-default);
  font-family: NotesEsa;
}

.content {
  overflow-y: scroll;
  color: var(--text-default);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 1rem;

  > *:last-child {
    margin-bottom: 0;
  }
}

.content h1, .content h2, .content h3 {
  margin: 2rem 0 1rem 0;

  &:first-of-type {
    margin-top: initial;
  }
}

.content p {
  margin-bottom: 1rem;
}

.content ul, .content ol {
  margin: 1.5rem;
}

.content a {
  color: var(--main);
  text-decoration: none;
  overflow-wrap: break-word;
}

@media screen and (--mobile-viewport) {
  .menuOverlay {
    width: 80%;
  }
}
