@require '../../../variables.styl'

.content
  padding: emCalc(80px) emCalc(56px)
  color: $textWhite

  h1
    color: $textColor
    font-weight: bold
    font-size: emCalc(36px)
    font-family: NotesEsa

  p
    color: $textDefault
    line-height: emCalc(22px)

.shortTextContent
  padding-top: emCalc(30px)
  font-size: emCalc(32px)
