@require '../../../variables.styl'

.story
  display: flex
  flex-shrink: 0
  flex-direction: column
  width: $storyWidth
  height: 100%

.presentStory
  .storyTitle
    font-size: 2em

  .backButton
    font-size: 1.3em

.backButton
  display: block
  padding: 20px 0 0 20px
  color: #fff

.storyTitle
  padding-right: 20px
  color: #fff
