.kettleAmountWrapper {
  height: calc(var(--story-height) * 3);
  position: relative;

  .container {
    top: 0;
    position: sticky;
    height: var(--story-height);
    display: grid;
    place-items: center;

    .slide {
      height: var(--story-height);
      .bulbContainer {
        position: absolute;
        top: 15%;
        height: 200px;
        aspect-ratio: 1/ 2;
        background-color: yellow;
      }

      .box {
        --box-background: blue;
        border: 1px solid var(--font-55-esa-teal, #98dbce);
        background-color: var(--box-background);
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
        place-items: center;
        height: min(80vw, 600px);
        aspect-ratio: 1/ 1;
        border: 1px solid red;

        .squareMeter {
          grid-column: 5 / 6;
          grid-row: 5 / 6;
          height: 100%;
          width: 100%;
          display: grid;
          place-content: center;
          background-color: var(--box-background);
        }
      }
    }
  }
}
