.kettleAmountWrapper {
  height: calc(var(--story-height) * 3);
  position: relative;

  .container {
    top: 0;
    position: sticky;
    height: var(--story-height);
    display: grid;
    place-items: center;

    .slide {
      height: var(--story-height);
      .bulbContainer {
        position: absolute;
        top: 15%;
        height: 200px;
        aspect-ratio: 1/ 2;
        background-color: yellow;
      }

      .bulbInfoContaier {
        display: grid;
        place-items: center;
        gap: 1rem;
        position: absolute;
        top: 15%;
        width: 100%;

        .bulbContainer {
          position: relative;
          width: 110px;
          height: 160px;

          /* place both icons perfectly on top of each other */
          > span {
            position: absolute;
            top: 0;
            left: 0;
            width: 110px;

            &:last-child {
              top: 22px;
              left: 18px;
            }
          }
        }

        > span:last-child {
          color: #fff;
          text-align: center;
          text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);

          /* Mobile/Story/Body/XL */
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 36.4px */
        }
      }

      .boxContainer {
        display: grid;
        gap: 2rem;
        place-items: center;

        .box {
          --box-background: rgba(152, 219, 206, 0.1);
          position: relative;
          border: 1px solid var(--font-55-esa-teal, #98dbce);
          background-color: var(--box-background);
          padding: 1rem;
          display: grid;
          grid-template-columns: repeat(9, 1fr);
          grid-template-rows: repeat(9, 1fr);
          place-items: center;
          height: min(80vw, 600px);
          aspect-ratio: 1/ 1;

          > span {
            color: var(--font-55-esa-teal, #98dbce);
            text-align: center;
            font-family: NotesEsa;
            font-style: normal;
            font-weight: 700;
            line-height: 115%; /* 69px */
          }

          .satellite {
            position: absolute;
            top: -50px;
            left: -50px;
          }

          .squareMeter {
            z-index: 1;
            grid-column: 5 / 6;
            grid-row: 5 / 6;
            height: 100%;
            width: 100%;
            display: grid;
            place-content: center;
          }
        }
      }
    }
  }
}
