@require '../../../variables.styl'

.overlay
  position: absolute
  top: 0
  right: 0
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  background: $black
  opacity: 0.9

.closeButton
  position: absolute
  top: emCalc(15px)
  right: emCalc(15px)
