@require '../../../../../../variables.styl'

.carousel
  --curve-width: 25vw
  --topPadding: 75px
  position: relative
  width: 100vw
  height: calc(100svh - var(--topPadding))
  padding: emCalc(29px) emCalc(29px) emCalc(90px)
  box-sizing: border-box
  color: #fff
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center
  flex-wrap: wrap
  overflow: hidden
  scroll-snap-align: center

.info
  text-align: center
  margin: 0 auto
  font-size: 20px
  font-style: normal
  font-weight: 700
  padding: 0 20px
  line-height: 22px

.curveLine
  width: var(--curve-width)
  z-index: -1
  pointer-events: none
  overflow: hidden

.satellitesContainer
  display: flex
  justify-content: space-between
  gap: 52px

  .satellites
    display: flex
    gap: 36px
    justify-content: center
    align-items: center
    flex-direction: column

@media screen and (min-width: 768px)
  .carousel
    flex-wrap: nowrap
    flex-direction: row

  .info
    font-size: emCalc(62px)
    line-height: 68px
    text-align: start
    max-width: 40vw
