@require '../../../../variables.styl'

.onboardingOverlay
  background: transparent

.onboarding
  position: absolute
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: emCalc(16px)
  min-width: emCalc(150px)
  min-height: emCalc(50px)
  max-width: emCalc(170px)
  width: fit-content
  height: fit-content
  border-radius: 4px
  background-color: $darkGrey4
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2)
  color: $textWhite
  transform: translate(-85%, 50%)

.onboarding:before
  position: absolute
  right: emCalc(10px)
  bottom: 100%
  border-right: 8px solid transparent
  border-bottom: 10px solid $darkGrey4
  border-left: 8px solid transparent
  content: ''

.bottomTooltip
  transform: translate(-85%, -120%)

.bottomTooltip:before
  top: 100%
  border-top: 10px solid $darkGrey4
  border-bottom: none

.content
  display: flex
  justify-content: space-between
  align-items: start

.closeButton
  align-self: end
  margin-left: emCalc(10px)
  width: emCalc(16px)
  height: emCalc(16px)

.navigation
  display: flex
  justify-content: space-between
  margin-top: emCalc(20px)
  text-align: left
  font-size: emCalc(11px, 16)
  font-family: NotesEsaBold

.navigationButton
  color: $textColor
  text-transform: uppercase
  font-size: emCalc(14px, 16)
  font-family: NotesEsaBold

.navigationButton[class*='disabled']
  color: $textDefault
