.chapterIndicator {
  --header-offset: calc(var(--header-height) / 2);

  z-index: 3;
  position: fixed;
  height: calc(var(--story-height) - 25%);
  width: 24px;
  top: calc(50% + var(--header-offset));
  transform: translate(36px, -50%);

  .dotContainer {
    --dot-size: 10px;
    --dot-color: var(--neutral-esa-white);
    list-style-type: none;
    height: 100%;
    display: grid;
    align-content: space-between;
    justify-content: center;
    anchor-name: --dot-container;

    .activeIndicator {
      --indicator-size: calc(anchor-size(width, 100%) * 2);
      --indicator-ring-offset: calc(var(--dot-size) * 0.8);
      width: var(--indicator-size);
      height: var(--indicator-size);
      display: inline-block;
      background-color: var(--dot-color);
      box-sizing: border-box;
      position: absolute;
      position-area: center center;
      border-radius: 50%;
    }

    > li.dot {
      --line-offset: min(6px, 6vh);
      display: inline-block;
      width: var(--dot-size);
      height: var(--dot-size);
      border-radius: 50%;
      display: inline-block;
      background-color: var(--dot-color);

      .dotButton {
        all: unset;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        cursor: pointer;

        &:focus-visible {
          outline: 2px solid var(--neutral-esa-white);
          outline-offset: 3px;
        }
      }

      &:after {
        width: 1px;
        background-color: var(--main-colours-esa-teal-55);
        content: "";
        position: absolute;
        transform: translateX(-50%);
        inset: var(--anchor-inset);
        border-radius: 100px;
      }
    }
  }
}
