.chapterIndicator {
  --header-offset: calc(var(--header-height) / 2);

  z-index: 3;
  position: fixed;
  height: calc(var(--story-height) - 25%);
  width: 24px;
  top: calc(50% + var(--header-offset));
  transform: translate(36px, -50%);

  .dotContainer {
    --dot-size: 10px;
    list-style-type: none;
    height: 100%;
    display: grid;
    align-content: space-between;
    justify-content: center;
    anchor-name: --dot-container;

    .activeIndicator {
      width: 20px;
      height: 20px;
      display: inline-block;
      background-color: red;
      box-sizing: border-box;
      position: absolute;
      position-anchor: --dot-4;
      position-area: center;
      clip-path: circle(40%);
      border-radius: 50%;
    }

    > li.dot {
      --line-offset: min(6px, 6vh);
      display: inline-block;
      width: var(--dot-size);
      height: var(--dot-size);
      border-radius: 50%;
      background-color: white;
      display: inline-block;
      background-color: var(--neutral-esa-white);

      &:after {
        width: 1px;
        background-color: var(--main-colours-esa-teal-55);
        content: "";
        position: absolute;
        transform: translateX(-50%);
        inset: var(--anchor-inset);
        border-radius: 100px;
      }
    }
  }
}
