.removeCompare
  display: flex
  flex-direction: column
  align-items: center

.icon
  padding: 2px
  outline: 0
  border: solid 1px #fff
  border-radius: 50%
  background-color: #000
  line-height: 50%
  cursor: pointer

  svg
    fill: #fff
