.story {
  z-index: 1;
  grid-area: content;
  background: rgba(255, 255, 255, 1 );
  max-height: 100vh;
  max-height: 100dvh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;

  &.fadeIn {
    animation: fadeIn 1.5s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
