@require '../../../../variables.styl'

.story
  display: flex
  flex-direction: column
  height: 100%

.main
  position: relative
  display: flex
  flex-direction: row
  overflow: hidden
  height: 100%

  > *
    flex-grow: 1
    width: 50%

.globeContainer
  position: relative
  display: flex
  flex-direction: column
  height: 100%
