@require '../../../../variables.styl'

.story
  display: flex
  flex-direction: column
  height: 100%

.main
  position: relative
  display: flex
  flex-direction: row
  overflow: hidden
  height: 100%

  > *
    flex-grow: 1
    width: 50%

.rightSideComponent
  height: 100%

.layerDescription
  position: unset
  padding-right: 0
  min-height: $storyCaptionHeight

@media screen and (max-width: 480px)
  .main
    display: flex
    flex-direction: column
    overflow-y: auto

    > :last-child
      height: 350px

    > *
      padding: emCalc(10px) emCalc(25px) 0 emCalc(25px)
      width: inherit
