.story {
  --story-padding: 1.5rem;
  --story-height: calc(100vh - var(--header-height));
  --story-height: calc(100dvh - var(--header-height));
  z-index: 1;
  grid-area: content;

  color: #fff;
  overflow: scroll;
  height: var(--story-height);
  position: relative;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    all: unset;
  }

  @media screen and (--desktop-viewport) {
    --story-padding: 2.75rem;
  }

  &.fadeIn {
    animation: fadeIn 1.5s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
