.quoteWrapper {
  display: flex;
  flex-direction: column;
  .quote {
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    height: var(--story-height);
    p {
      line-height: 150%; /* 30px */
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 150%; /* 30px */
    }
    span {
      color: var(--font-55-esa-teal, #98dbce);
    }
  }
}
