.comparisonViewer {
  touch-action: none;
  position: relative;

  &.isVerticalSplit {
    display: flex;

    .imageWrapper {
      border-right: 2px solid white;
      border-bottom: none;
      height: 100%;
    }
  }

  &.isComparing .image {
    object-fit: contain;
  }

  &.isComparing:before {
    z-index: 1;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    height: 56px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.44) 78.37%
    );
  }

  &.isComparing:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 97px;
    left: 0;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.64) 86.54%
    );
  }
}

.imageWrapper {
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid white;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
    user-select: none;
  }
}
