.tab
  padding: 20px
  width: 50%
  outline: 0
  border: 1px solid #ccc
  border-radius: 10px 10px 0 0
  background-color: #141414
  color: #fff
  font-size: 1.3em
  cursor: pointer
  fill: #fff

.disabled
  border-color: #999
  background-color: #333
  color: #999
  fill: #999

.tabActive
  border: 1px solid #ccc
  background-color: #fff
  color: #141414
  fill: #141414
