@require '../../../../variables.styl'

.lightboxStoryGallery
  .slider
    align-items: center
    height: 100%

  .sliderImage
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%

  .imageContainer
    display: flex
    flex-direction: column
    justify-content: center
    width: 95%
    height: 95%

  .photo
    flex: 1
    width: 100%
    height: 0

.lightboxDescription
  position: inherit
  overflow: hidden
  padding: emCalc(15px)
  height: emCalc(170px, 16)
  background: none
  pointer-events: none

  > div
    overflow-y: auto
    margin: 0 auto
    max-width: 60%
    max-height: 100%
    width: fit-content
    height: 100%
    -webkit-line-clamp: initial

.slider
  display: flex
  height: 100%

.transition
  transition: transform ease-out 0.5s

.sliderImage
  height: 100%

.imageContainer
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  height: 100%

.photo
  flex: 1
  width: 100%
  height: 0

@media screen and (max-width: 480px)
  .lightboxStoryGallery
    .imageContainer
      max-width: 100%
      max-height: 100%
      background-color: $plainBlack

  .lightboxDescription
    pointer-events: none

    > div
      overflow: hidden
      padding: 0
      max-width: 100%
