.menuContainer
  position: relative
  margin: 20px

.menuButton
  outline: 0
  border-radius: 50%
  background-color: #ccc
  font-size: 1em

.menuList
  position: absolute
  bottom: 20px
  left: 0
  padding: 0
  min-width: 250px
  background-color: #fff
  list-style: none

.menuListItem
  margin: 7px
  padding: 10px 15px

.menuListItem:hover, .menuListItem:focus
  background-color: #e0f1ff
