.menuContainer
  position: relative
  margin: 20px

.menuButton
  padding: 2px
  outline: 0
  border-radius: 50%
  background-color: #ccc
  font-size: 1em
  line-height: 50%
  cursor: pointer

.menuList
  position: absolute
  bottom: 20px
  left: 0
  padding: 0
  min-width: 250px
  border-radius: 5px
  background-color: #fff
  list-style: none

.menuListItem
  display: flex
  flex-flow: wrap
  align-items: center
  margin: 7px
  padding: 10px 15px
  cursor: pointer

  svg
    padding-right: 15px

  a
    display: flex
    flex-flow: wrap
    align-items: center
    color: #000
    text-decoration: none

  &:hover, &:focus
    background-color: #e0f1ff
