@require '../../../../../../variables.styl'

.chapterGraph
  height: 100svh
  width: 100vw
  box-sizing: border-box
  overflow-x: hidden
  background: linear-gradient(250deg, #003349 19.74%, rgba(0, 51, 73, 0) 106.06%), #000
  display: flex
  flex-direction: column
  justify-content: center
  gap: 1em
  scroll-snap-align: start

.graphContainer
  width: 100%
  color: $textWhite
  text-align: left
  font-style: normal
  align-self: start
  padding: 0 18px

.scrollContainer
  overflow-x: auto
  white-space: nowrap
  padding: 0 emCalc(16px)
  -ms-overflow-style: none
  scrollbar-width: none

  ::-webkit-scrollbar
    display: none

  img
    height: 35vh

.graphText
  text-align: left
  color: #fff
  padding-inline: emCalc(30px)
  h3
    font-size: emCalc(30px)
    margin: 0

  p
    font-size: emCalc(20px)
    line-height: 22px
    margin: emCalc(20px) 0

.graphCaption
  width: 80%
  font-size: emCalc(12px)
  font-style: normal
  font-weight: 400
  line-height: 18px
  padding: emCalc(24px)

  span
    color: $teal

@media screen and (min-width: 768px)
  .chapterGraph
    height: 100vh
    padding: $headerHeight emCalc(80px)
    flex-direction: row

  .graphContainer
    width: 50%
    align-self: center

  .scrollContainer
    img
      height: 50vh

  .graphText
    width: 60%
    padding: emCalc(90px) emCalc(29px)

    h3
      font-size: emCalc(42px)

    p
      font-size: emCalc(28px)
      line-height: 32px
