@require '../../../../../../variables.styl'

.chapterGraph
  height: 100vh
  box-sizing: border-box
  padding: emCalc(100px) 0
  overflow-x: hidden
  background: linear-gradient(250deg, #003349 19.74%, rgba(0, 51, 73, 0) 106.06%), #000
  display: flex
  flex-direction: column
  justify-content: center
  gap: 3em
  scroll-snap-align: center

.graphContainer
  width: 100vw
  color: $textWhite
  text-align: left
  font-style: normal
  align-self: center
  display: flex
  flex-direction: column
  justify-content: center
  flex: 1

.graphText
  text-align: left
  color: #fff
  padding: emCalc(75px) emCalc(29px) 0

  h3
    font-size: emCalc(30px)
    margin: 0

  p
    font-size: emCalc(20px)
    line-height: 22px
    margin: emCalc(20px) 0

.graphCaption
  width: 80%
  font-size: emCalc(12px)
  font-style: normal
  font-weight: 400
  line-height: 18px
  padding: emCalc(24px)

  span
    color: $teal

@media screen and (min-width: 768px)
  .chapterGraph
    padding: emCalc(100px) emCalc(50px)

  .graphContainer
    width: 50%
