@require '../../../variables.styl'

.pagination
  height: 40px

.controls
  display: flex
  flex-flow: row
  align-items: center

.emptyIcon
  width: 34px
  height: 34px

.present
  position: absolute
  right: $storyWidth
  bottom: 0
  left: 0
  z-index: 1
  display: flex
  flex-direction: row
  justify-content: center
  height: 50px

  .controls
    padding: 0 15px
    width: fit-content
    border: 1px solid #ccc
    border-radius: 5px 5px 0 0
    background-color: #000
    color: #fff

    .icons
      margin-left: 10px

    svg
      fill: #fff
