@require '../../../../variables.styl'

.gallery
  position: relative
  flex-grow: 1
  flex-basis: 50%
  width: 100%
  height: 100%

.galleryItem
  box-sizing: border-box
  padding: emCalc(50px)
  width: 100%
  height: 100%

.galleryImage
  width: 100%
  height: 100%
  object-fit: contain
