div[data-nav-content="data"] .gallery {
  transform: translateX(0);
}
.gallery {
  position: relative;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-50%);
}

.galleryItem {
  box-sizing: border-box;
  padding: 3.125em;
  width: 100%;
  height: 100%;
}
.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
