.container {
  --info-container-opacity: 100%;
  opacity: var(--info-container-opacity);
  position: absolute;
  top: 10%;
  right: 1.5rem;
  z-index: 10;

  @media (--desktop-viewport) {
    top: 20%;
  }
}

.content {
  right: calc(100% + 0.5rem);
  transform: translateY(-50%);
  padding: 1rem 1.25rem;
  font-size: 0.875rem;
  width: max-content;
}
