.slide
  display: flex
  flex-direction: column
  height: calc(100% - 40px)
  background-color: #fff

.presentSlide
  font-size: 1.7em

.showcaseSlide
  font-size: 1.2em

.content
  display: flex
  flex-grow: 1
  flex-direction: column
  overflow: auto
  padding: 10px

  img
    width: 100%

.bodytext
  height: 100%
