.slide
  display: flex
  flex-direction: column
  height: calc(100% - 40px)
  background-color: #fff

.presentSlide
  font-size: 1.7em

  h1
    margin: 0 0 20px 0

.showcaseSlide
  font-size: 1.2em

  h1
    margin: 0 0 20px 0

.content
  display: flex
  flex-grow: 1
  flex-direction: column
  overflow: auto
  padding: 20px

  img
    width: 100%

.bodytext
  height: 100%
