.slide
  position: relative
  display: flex
  flex-direction: column
  height: calc(100% - 40px)
  background-color: #fff

.content
  display: flex
  flex-grow: 1
  flex-direction: column
  overflow: auto
  padding: 10px

.bodytext
  height: 100%
