.lightbox
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 2
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.95)

.fullscreen
  position: absolute
  top: 0
  right: 500px
  bottom: 0
  left: 0

  .slider
    max-height: 100%
    height: 100%

.storyGallery
  position: relative
  flex-shrink: 0
  overflow: hidden
  width: 100%
  height: 100%

.lightboxGallery
  width: 90%
  height: 90%

  .slider
    max-height: 100%
    height: 100%

.buttonContainer
  position: absolute
  top: 50%
  z-index: 1
  display: flex
  justify-content: space-between
  width: 100%
  height: 34px
  transform: translateY(-50%)

  .navIcon
    margin: 0 5px
    border-radius: 50%
    background: rgba(0, 0, 0, 0.5)
    cursor: pointer
    fill: #fff

  .navIcon:hover
    background: rgba(0, 0, 0, 0.8)

.fullscreenIcon
  position: absolute
  right: 0
  bottom: 0
  z-index: 1
  padding: 5px
  cursor: pointer
  fill: #fff

.slider
  display: flex
  height: 350px

.transition
  transition: transform ease-out 0.5s

.sliderImage
  height: 100%
  object-fit: cover
