.layerList
    flex-grow: 1
    height: calc(100vh - 80px)
    padding: 0
    margin: 0
    background-color: #fff

.layerItem
    padding: 15px
    font-size: 1.1em

.subLayerItem
    margin: 5px
    padding: 15px
    font-size: 1em

.layerItem:hover, 
.layerItem:focus
    background-color: #e0f1ff
