.layerList
    flex-grow: 1
    height: calc(100vh - 80px)
    padding: 0
    margin: 0
    background-color: #fff
    list-style: none

.layerItem
    padding: 15px
    font-size: 1.1em

.layerItem:hover, 
.layerItem:focus
    background-color: #e0f1ff

.layerItemSelected,
.layerItemSelected:hover
.layerItemSelected:focus
    background-color:#a8d7ff

.subLayerItem
    margin: 5px
    padding: 15px
    font-size: 1em

.subLayerItemSelected
    background-color: #a8d7ff

