.navChapterContainer 
  position: relative
  display: grid
  justify-content: start
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 0.5rem
  grid-template-columns: auto 1fr
  grid-template-rows: 1fr

  ul
    list-style-type: none
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: space-between
    margin: 0
    height: 100%
    line-height: 1

    > li
      display: flex
      align-items: center
      justify-content: start
      cursor: pointer
      white-space: nowrap
      
      &:hover
        text-decoration: underline

@media screen and (max-width: 768px)
  .navChapterContainer  ul
   > li
      min-height: 32px
      font-size: 3.5vw // Adjust this value as needed
      white-space: nowrap // Prevents the text from wrapping to the next line
