.navChapterContainer 
  position: relative
  display: flex
  justify-content: start
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 2rem

  ul
    list-style-type: none
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-content: space-around
    justify-content: space-between
    margin: 0
    height: 100%
    gap: 24px
    line-height: 1.5