// width
$storyWidth = 500px
// height
$headerHeight = emCalc(72px)
$footerHeight = emCalc(72px)
$storyDescriptionHeight = emCalc(62px)
// colors
$main = #00AE9D
$black = #10161A
$plainBlack = #000000
$darkGrey1 = #182026
$darkGrey2 = #202B33
$darkGrey4 = #30404D
$textDefault = #939597
$textColor = #00AE9D
$textWhite = #FFFFFF
$textAzure = #009BDB
$textDisabled = #404041

/**
 * calculate an rem-value for a given pixel-size
 */
remCalc(_px, _base = 16)
  return (_px / _base) rem

/**
 * calculate an em-value for a given pixel-size
 */
emCalc(_px, _base = 16)
  return (_px / _base) em
