/* Todo: Check if we can solidate the mobile viewport limits*/
@custom-media --mobile-s-viewport (max-width: 480px);
@custom-media --mobile-viewport (max-width: 767px);
@custom-media --desktop-viewport (min-width: 768px);
@custom-media --desktop-xxl-viewport (min-width: 1400px);

:root {
  /* Width */
  --story-width: 500px;

  /* Heights */
  --header-height: 3.5rem;
  --footer-height: 3rem; /* 72px */
  --story-caption-height: 3.875em; /* 62px */

  /* Colors */
  --main: #00ae9d;
  --black: #10161a;
  --dark-blue: #3f6c7d;
  --plain-black: #000000;
  --dark-grey-1: #182026;
  --dark-grey-2: #202b33;
  --dark-grey-4: #30404d;
  --dark-grey-5: #003349;
  --text-default: #939597;
  --text-disabled: #404041;
}
