@require '../../../../../../variables.styl'

.carouselWrapper
  padding-left: 0
  padding-right: 0
  overflow: hidden

.carousel
  color: white
  display: flex
  width: 100vw
  display: flex
  justify-content: space-around
  box-sizing: border-box
  z-index: 1
  color: white
  position: relative
  height: 15%
  opacity: 0
  transition: opacity 0.2s ease-in

  @media screen and (min-width: 768px)
    height: 25%

.carousel.visible
  opacity: 1

.explanation
  max-width: 16rem
  margin-inline: auto
  margin-top: 2rem
  margin-bottom: 6rem

.curveLine
  z-index: -1
  position: absolute
  top: 0
  right: 0
  left: 0
  pointer-events: none

@media screen and (min-width: 768px)
  .carouselWrapper
    padding-bottom: emCalc(200px)
