@require '../../../../variables.styl'

.navigation
  position: absolute
  top: emCalc(22px)
  right: emCalc(22px)
  display: flex

.button
  text-shadow: 0px 0px 2px $black
  font-size: emCalc(18px)
  font-family: NotesEsa
  line-height: emCalc(22px)

  &:hover
    text-shadow: none

  svg
    filter: drop-shadow(3px 2px 2px rgba(16, 22, 26, 0.2))

  .button, &:not(:last-child)
    padding-right: emCalc(30px)

.tagsButton
  padding-left: emCalc(8px)

  svg
    filter: drop-shadow(3px 2px 2px rgba(16, 22, 26, 0.2))

.badge
  position: relative
  top: emCalc(2px)
  left: emCalc(-4px)
  width: emCalc(8px)
  height: emCalc(8px)
  border-radius: 50%
  background: $main
  color: $textWhite

@media screen and (max-width: 480px)
  .button
    &:not(:last-child)
      padding-right: emCalc(15px)
