@require '../../../../variables.styl'

.navigation
  position: absolute
  top: emCalc(22px)
  right: emCalc(22px)
  display: flex

.button
  font-size: emCalc(18px)
  font-family: NotesEsa
  line-height: emCalc(22px)

  .button, &:not(:first-child)
    padding-left: emCalc(30px)

@media screen and (max-width: 480px)
  .button
    &:not(:first-child)
      padding-left: emCalc(15px)
