@require '../../../variables.styl'

.globeNavigation
  position: absolute
  right: emCalc(10px)
  bottom: emCalc(22px)
  z-index: 1
  display: flex

.compassIcon
  padding-right: emCalc(16px)
  padding-left: emCalc(25px)

.compassIcon svg, .downloadIcon svg
  fill: $textWhite

.compassIcon svg
  &:hover
    transform: rotate(-45deg)
