@require '../../../variables.styl'

.globeNavigation
  position: absolute
  right: emCalc(10px)
  bottom: emCalc(22px)
  display: flex

.compassIcon svg, .downloadIcon svg
  fill: $textWhite

.compassIcon
  padding-right: emCalc(16px)
  padding-left: emCalc(25px)
