@require '../../../../variables.styl'

.caption
  position: absolute
  bottom: 0
  box-sizing: border-box
  padding-right: emCalc(55px, 16)
  padding-bottom: emCalc(10px, 16)
  min-height: $storyCaptionHeight
  width: 100%
  background: rgba($black, 0.6)

.content
  display: -webkit-box
  overflow: hidden
  padding: 0 emCalc(15px, 16)
  width: 100%
  color: rgba($textWhite, 0.7)
  font-size: 11px
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical

  > *
    font-size: 11px

.lightboxCaption
  overflow: hidden
  padding: emCalc(15px)
  height: emCalc(120px, 16)
  pointer-events: none

  .content
    overflow-y: auto
    margin: 0 auto
    max-width: 60%
    max-height: 100%
    width: fit-content
    height: 100%
    -webkit-line-clamp: initial

.caption:hover
  .content
    overflow-y: auto
    min-height: $storyCaptionHeight
    max-height: emCalc(100px, 16)
    -webkit-line-clamp: initial

@media screen and (max-width: 480px)
  .lightboxCaption
    pointer-events: none

    .content
      overflow: hidden
      padding: 0
      max-width: 100%
