.caption {
  box-sizing: border-box;
  padding-right: 3.4375em;
  min-height: var(--story-caption-height);
  width: 100%;
  background: rgba(16, 22, 26, 0.6);
}
.content {
  display: -webkit-box;
  overflow: hidden;
  padding: 0 0.9375em;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  -webkit-box-orient: vertical;
}
.lightboxCaption {
  position: absolute;
  bottom: 0;
  padding-bottom: 2.5em;
  overflow: hidden;
  padding: 1.5em 0.9375em;
  pointer-events: none;
}
.lightboxCaption .content {
  overflow-y: auto;
  margin: 0 auto;
  max-width: 60%;
  max-height: 100%;
  width: fit-content;
  height: 100%;
}

@media screen and (--mobile-s-viewport) {
  .caption {
    position: absolute;
    bottom: 0;
    padding-bottom: 2.5em;
  }

  .content {
    -webkit-line-clamp: 3;
  }

  .caption:hover .content {
    overflow-y: auto;
    min-height: var(--story-caption-height);
    max-height: 6.25em;
    -webkit-line-clamp: initial;
  }

  .lightboxCaption {
    pointer-events: none;
  }

  .lightboxCaption .content {
    overflow: hidden;
    padding: 0;
    max-width: 100%;
    -webkit-line-clamp: initial;
  }
}
