@require '../../../../variables.styl'

.menuContainer
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: flex-start
  overflow-y: auto
  width: 60%
  height: 90%
  font-family: Arial, Helvetica, sans-serif

.menuList
  display: flex
  flex-direction: column
  flex-wrap: wrap
  margin: 0
  padding: emCalc(10px) emCalc(32px)
  min-width: emCalc(200px)
  width: 25%
  color: $textWhite
  list-style: none

.menuItemTitle, .subMenuTitle
  display: flex
  align-items: center
  padding: emCalc(10px) 0
  pointer-events: none

  svg
    padding-right: emCalc(10px)
    fill: $textWhite

.subMenuTitle
  padding-top: 30px

.menuListItem
  padding: emCalc(10px) 0 emCalc(10px) emCalc(35px)
  color: $textDefault

.menuButton
  display: flex
  align-items: center
  color: $textDefault

  svg
    padding-right: emCalc(10px)
    fill: $textDefault

.logo
  position: absolute
  bottom: emCalc(24px)
  display: flex
  flex-direction: row
  justify-content: center
  width: 100%

  svg
    fill: $main

.version
  position: absolute
  right: emCalc(32px)
  bottom: emCalc(24px)
  color: $textDefault
  font-size: 10px

@media screen and (max-width: 480px)
  .menuContainer
    width: 100%

  .menuList:first-child
    display: none
