.container {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;

    > input {
        height: 2rem;
    }
}

.results {
    position: absolute;
    top: var(--header-height);
}