.container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    text-align: center;
    color: white;
    padding: 1rem;
    overflow-y: hidden;

    .searchInputWrapper {
        position: relative;
        display: flex;
        align-items: center;
        margin: 1rem 0;
        background-color: var(--dark-grey-5);
        border-radius: 4px;
        padding: 0 1rem;
        height: 3rem;

        > svg {
            flex-shrink: 0;
            fill: var(--main);
            margin-right: 0.5rem;
        }

        > input {
            flex: 1;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            color: white;
            height: 3rem;

            &::placeholder {
                color: var(--text-default);
            }
        }
    }

    .results {
        height: 100%;
        overflow-y: scroll;
    }
}