.embeddedContent {
  display: grid;
  grid-template-rows: auto 8em;
  border: 0;
  height: 100%;
  padding: 3em 1.75em 3em 3.5em;
}
.embeddedContent > iframe {
  height: 100%;
  width: 100%;
  border: 0;
}
