.presentationSelector
  position: relative
  width: 100%
  height: 100%
  background-color: #fff
  pointer-events: auto

.title
  text-align: center
  font-size: 3em

.backButton
  display: block
  padding: 20px 0 0 20px
  font-size: 1.3em
