.selectedTags {
  position: absolute;
  top: 2.5em;
  left: -1.125em;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 0.8125em;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  background-color: var(--dark-grey-4);
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.0375em;
  font-family: NotesEsaBold;
}
.selectedTags:before {
  position: absolute;
  bottom: 100%;
  left: 1.25em;
  border-top-color: inherit;
  border-right: 8px solid transparent;
  border-bottom: 10px solid var(--dark-grey-4);
  border-left: 8px solid transparent;
  content: '';
}
.tag {
  display: flex;
  align-items: center;
  padding: 0.125em 0;
  color: #fff;
  white-space: nowrap;
  font-size: 0.75em;
}
.tag svg {
  padding-right: 0.3125em;
  fill: #fff;
}
.resetFilters {
  padding: 0.75em 0 0;
  outline: none;
  border: none;
  background: transparent;
  color: var(--main);
  text-align: right;
  text-transform: uppercase;
  text-wrap: nowrap;
  font-size: 0.75em;
  font-family: NotesEsaBold;
  cursor: pointer;
  user-select: none;
}
